go/flows_default.json
[
   {
      "id":"44bd3d1d.a69fe4",
      "type":"DS Message receive",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "msApp":"cac487df.d3c3b8",
      "method":"chat/message",
      "x":170,
      "y":180,
      "wires":[
         [
            "3221854f.75c3fa",
            "7cf24662.fb7b58"
         ]
      ]
   },
   {
      "id":"b41e7c2.329318",
      "type":"DS Message send",
      "z":"68ecdd3b.6c5b94",
      "msApp":"cac487df.d3c3b8",
      "name":"",
      "nextListener":"chat/message",
      "nextUri":"",
      "nextAppName":"",
      "x":960,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"8af59c82.c318c",
      "type":"link in",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "d5bf1380.41976",
         "5a0ba0d2.6ba6c",
         "32281e5a.78a722"
      ],
      "x":115,
      "y":480,
      "wires":[
         [
            "3bbdd28e.70ce2e",
            "c1228549.9a8ea8"
         ]
      ]
   },
   {
      "id":"89e05014.199d",
      "type":"link in",
      "z":"68ecdd3b.6c5b94",
      "name":"out",
      "links":[
         "f79dd369.6cd58",
         "fc394ac2.bf55b8",
         "6e1a10e2.c1034",
         "695d7b3b.d96374",
         "e0603843.748f78",
         "eb94a7aa.959e78",
         "84194bed.99f868",
         "e94a0e84.e10ce",
         "e26a90be.ef376"
      ],
      "x":825,
      "y":220,
      "wires":[
         [
            "b41e7c2.329318"
         ]
      ]
   },
   {
      "id":"e0603843.748f78",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":715,
      "y":480,
      "wires":[

      ]
   },
   {
      "id":"3221854f.75c3fa",
      "type":"switch",
      "z":"68ecdd3b.6c5b94",
      "name":"Rooter",
      "property":"payload.text[0]",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"start",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"text",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"cards",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"form",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":5,
      "x":350,
      "y":180,
      "wires":[
         [
            "32281e5a.78a722"
         ],
         [
            "eb618a88.963408"
         ],
         [
            "d23a9ea1.bddbc"
         ],
         [
            "e908118c.11e09"
         ],
         [
            "8fd329b9.0e1708"
         ]
      ]
   },
   {
      "id":"e3c1631a.713ae",
      "type":"link in",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "eb618a88.963408"
      ],
      "x":115,
      "y":580,
      "wires":[
         [
            "76f5371a.e23798"
         ]
      ]
   },
   {
      "id":"eb618a88.963408",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "e3c1631a.713ae"
      ],
      "x":565,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"695d7b3b.d96374",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":471,
      "y":581,
      "wires":[

      ]
   },
   {
      "id":"32281e5a.78a722",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "8af59c82.c318c"
      ],
      "x":565,
      "y":60,
      "wires":[

      ]
   },
   {
      "id":"602d79c5.c7a928",
      "type":"comment",
      "z":"68ecdd3b.6c5b94",
      "name":"messages sent to users",
      "info":"",
      "x":920,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"9246472c.310f28",
      "type":"comment",
      "z":"68ecdd3b.6c5b94",
      "name":"Received Messages",
      "info":"",
      "x":190,
      "y":120,
      "wires":[

      ]
   },
   {
      "id":"de663153.b3d88",
      "type":"chatbot-quick-replies",
      "z":"68ecdd3b.6c5b94",
      "name":"options",
      "message":"I'm TekosBot, i'm here to help you. Choose an option ! Refresh the page to reload !",
      "buttons":[
         {
            "type":"postback",
            "label":"Text",
            "value":"text",
            "alert":false
         },
         {
            "type":"postback",
            "label":"Cards",
            "value":"cards",
            "alert":false
         },
         {
            "type":"postback",
            "label":"Form",
            "value":"form",
            "alert":false
         },
         {
            "type":"postback",
            "label":"Rich Component",
            "value":"Rich Component",
            "alert":false
         },
         {
            "type":"postback",
            "label":"Branch",
            "value":"branch",
            "alert":false
         }
      ],
      "x":540,
      "y":480,
      "wires":[
         [
            "e0603843.748f78"
         ]
      ]
   },
   {
      "id":"76f5371a.e23798",
      "type":"chatbot-message",
      "z":"68ecdd3b.6c5b94",
      "name":"Welcome Back",
      "message":[
         {
            "message":"Here is a text sample message 😊"
         }
      ],
      "x":306,
      "y":581,
      "wires":[
         [
            "695d7b3b.d96374"
         ]
      ]
   },
   {
      "id":"fc394ac2.bf55b8",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":425,
      "y":440,
      "wires":[

      ]
   },
   {
      "id":"3bbdd28e.70ce2e",
      "type":"tekosbot-image",
      "z":"68ecdd3b.6c5b94",
      "name":"Hi pic",
      "message":" Hey 🤗  🤠 🤡 🥳 🥴 🥺 🤥 🤫 🤭 🧐 🤓",
      "medias":[
         {
            "type":"image",
            "label":"",
            "src":"https://media.giphy.com/media/26xBwdIuRJiAIqHwA/giphy.gif"
         }
      ],
      "x":230,
      "y":480,
      "wires":[
         [
            "fc394ac2.bf55b8",
            "86dcfa6d.c09c18"
         ]
      ]
   },
   {
      "id":"86dcfa6d.c09c18",
      "type":"delay",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "pauseType":"delay",
      "timeout":"1",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":380,
      "y":480,
      "wires":[
         [
            "de663153.b3d88"
         ]
      ]
   },
   {
      "id":"ec9098bd.464288",
      "type":"link in",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "d23a9ea1.bddbc"
      ],
      "x":115,
      "y":660,
      "wires":[
         [
            "c7516142.0dcf2"
         ]
      ]
   },
   {
      "id":"d23a9ea1.bddbc",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"gen",
      "links":[
         "ec9098bd.464288"
      ],
      "x":565,
      "y":140,
      "wires":[

      ]
   },
   {
      "id":"c7516142.0dcf2",
      "type":"chatbot-generic-template",
      "z":"68ecdd3b.6c5b94",
      "name":"card 1",
      "title":"card 1",
      "subtitle":"",
      "imageUrl":"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvd8Z2_sqVLZ5AdZ_sSqFUKZfT3E33FbJNQToZj4r55_X7eZ7k",
      "sharable":true,
      "aspectRatio":"horizontal",
      "buttons":[
         {
            "type":"postback",
            "label":"Button",
            "value":"Button postback value",
            "alert":false
         },
         {
            "type":"url",
            "label":"button 2",
            "url":"https://tekos.co"
         }
      ],
      "x":270,
      "y":660,
      "wires":[
         [
            "52b900b6.7db48"
         ]
      ]
   },
   {
      "id":"52b900b6.7db48",
      "type":"chatbot-generic-template",
      "z":"68ecdd3b.6c5b94",
      "name":"card 2",
      "title":"card ",
      "subtitle":"subtitle",
      "imageUrl":"https://stmed.net/sites/default/files/design-wallpapers-25199-7936814.jpg",
      "sharable":true,
      "aspectRatio":"horizontal",
      "buttons":[
         {
            "type":"postback",
            "label":"Button",
            "value":"Button postback value",
            "alert":false
         },
         {
            "type":"url",
            "label":"button 2",
            "url":"https://tekos.co"
         }
      ],
      "x":560,
      "y":660,
      "wires":[
         [
            "f79dd369.6cd58"
         ]
      ]
   },
   {
      "id":"f79dd369.6cd58",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":675,
      "y":660,
      "wires":[

      ]
   },
   {
      "id":"e908118c.11e09",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"form",
      "links":[
         "2284b725.741168"
      ],
      "x":565,
      "y":220,
      "wires":[

      ]
   },
   {
      "id":"2284b725.741168",
      "type":"link in",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "e908118c.11e09"
      ],
      "x":125,
      "y":760,
      "wires":[
         [
            "f9a86b82.689178"
         ]
      ]
   },
   {
      "id":"f9a86b82.689178",
      "type":"form",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "title":"Title",
      "subtitle":"sub",
      "formId":"ui1",
      "action":"Send",
      "options":[
         {
            "label":"label",
            "value":"value",
            "type":"text",
            "list":"",
            "required":false
         }
      ],
      "formValue":{
         "value":""
      },
      "payload":"",
      "topic":"",
      "x":230,
      "y":760,
      "wires":[
         [
            "6e1a10e2.c1034"
         ]
      ]
   },
   {
      "id":"6e1a10e2.c1034",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":365,
      "y":760,
      "wires":[

      ]
   },
   {
      "id":"8fd329b9.0e1708",
      "type":"chatbot-message",
      "z":"68ecdd3b.6c5b94",
      "name":"fallback",
      "message":[
         {
            "message":"Ohoo, I'm not trained yet !"
         },
         {
            "message":"This is a sample, you need to customise my flow"
         }
      ],
      "x":530,
      "y":300,
      "wires":[
         [
            "eb94a7aa.959e78"
         ]
      ]
   },
   {
      "id":"eb94a7aa.959e78",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"",
      "links":[
         "89e05014.199d"
      ],
      "x":625,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"2e8bae1a.53c7a2",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"branch",
      "links":[
         "8877106f.981bc"
      ],
      "x":565,
      "y":260,
      "wires":[

      ]
   },
   {
      "id":"55cc27e7.9834b8",
      "type":"link out",
      "z":"68ecdd3b.6c5b94",
      "name":"rui",
      "links":[
         "d00d377d.cb0138"
      ],
      "x":565,
      "y":180,
      "wires":[

      ]
   },
   {
      "id":"7cf24662.fb7b58",
      "type":"debug",
      "z":"68ecdd3b.6c5b94",
      "name":"log",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":280,
      "y":260,
      "wires":[

      ]
   },
   {
      "id":"cc8f3384.4bf94",
      "type":"comment",
      "z":"68ecdd3b.6c5b94",
      "name":"Log",
      "info":"Use debug node to log the messages recieved by the bot in the main flow",
      "x":260,
      "y":300,
      "wires":[

      ]
   },
   {
      "id":"8030b5f0.cb6228",
      "type":"comment",
      "z":"68ecdd3b.6c5b94",
      "name":"Smileys",
      "info":"https://getemoji.com/",
      "x":860,
      "y":480,
      "wires":[

      ]
   },
   {
      "id":"c1228549.9a8ea8",
      "type":"Clear Messages",
      "z":"68ecdd3b.6c5b94",
      "name":"Refresh Page",
      "msApp":"cac487df.d3c3b8",
      "x":260,
      "y":440,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"cac487df.d3c3b8",
      "type":"hanna-app",
      "z":"",
      "appName":"$appName",
      "uri":"$uri",
      "socket":"$socket",
      "image":"$image",
      "startMessage":"start",
      "name":"$appName"
   }
]