go/flows_tekos-prod.json
[{"id":"cd8c313a.1ec9b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"402d71b.417b09","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8629245d.96b658","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"d7b88898.3449f8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b76ca7a8.f03538","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"cac487df.d3c3b8","type":"hanna-app","z":"","appName":"go","uri":"edugame","socket":"chat/message","image":"https://s3.eu-central-1.amazonaws.com/tekosdata/assets/images/bot_tekos.png","startMessage":"start","name":"go"},{"id":"44bd3d1d.a69fe4","type":"DS Message receive","z":"cd8c313a.1ec9b","name":"","msApp":"cac487df.d3c3b8","method":"chat/message","x":170,"y":180,"wires":[["3221854f.75c3fa","7cf24662.fb7b58"]]},{"id":"b41e7c2.329318","type":"DS Message send","z":"cd8c313a.1ec9b","msApp":"cac487df.d3c3b8","name":"","nextListener":"chat/message","nextUri":"","nextAppName":"","x":960,"y":220,"wires":[]},{"id":"8af59c82.c318c","type":"link in","z":"cd8c313a.1ec9b","name":"","links":["d5bf1380.41976","5a0ba0d2.6ba6c","32281e5a.78a722"],"x":115,"y":480,"wires":[["c1228549.9a8ea8","86dcfa6d.c09c18"]]},{"id":"89e05014.199d","type":"link in","z":"cd8c313a.1ec9b","name":"out","links":["f79dd369.6cd58","fc394ac2.bf55b8","6e1a10e2.c1034","695d7b3b.d96374","e0603843.748f78","eb94a7aa.959e78","84194bed.99f868","e94a0e84.e10ce","e26a90be.ef376","c9fdc489.156498","3ae2e975.4d59a6","8b2aad22.9b3a9","94bb07bf.494e78","466dd6fc.7fe608","eddb9fcc.5c75b","1972de69.c1ef22","b3ae31ad.877d1","a1ebc37a.42398","364d8b61.227ef4","fbe87d6d.3206","73f60aa.0c8bef4","c5fd523d.ea9e2","4f166db3.f73154","73a32821.fb08e8","d919e591.798368","3b778618.3d915a","e6f39182.00f08","b8da89e8.720688","50055001.af94e","400fcf53.dc735","748369b9.c257f8","c8c5913e.fedfb","9fb1c418.57b538","6c6a709d.23a6c","55b81f1b.d8b93","2bdc4b8.24aabb4","f9562835.1094c8","656cd327.f8d05c","91e9f13e.9d78","f7be6609.e7dfd8","42d07ba8.14d924","9d724449.ce0db8","3d803c1f.5acaf4","e8d4817e.bf176","f91da612.5eb358","b47f1f1f.6902e","7ce15d74.513ad4","4b38e821.656688"],"x":825,"y":220,"wires":[["b41e7c2.329318"]]},{"id":"e0603843.748f78","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":715,"y":480,"wires":[]},{"id":"3221854f.75c3fa","type":"switch","z":"cd8c313a.1ec9b","name":"Rooter","property":"payload.text[0]","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"manage competitions","vt":"str"},{"t":"eq","v":"join competition","vt":"str"},{"t":"eq","v":"login team","vt":"str"},{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"go","vt":"str"},{"t":"eq","v":"edit settings","vt":"str"},{"t":"eq","v":"edit teams","vt":"str"},{"t":"eq","v":"new competition","vt":"str"},{"t":"eq","v":"select role","vt":"str"},{"t":"eq","v":"grid","vt":"str"},{"t":"eq","v":"chart","vt":"str"},{"t":"eq","v":"timer","vt":"str"},{"t":"eq","v":"production","vt":"str"},{"t":"eq","v":"distribution","vt":"str"},{"t":"eq","v":"sales","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":17,"x":350,"y":180,"wires":[["32281e5a.78a722"],["eb618a88.963408"],["55cc27e7.9834b8"],["9b4f7b19.dc3d18"],["d23a9ea1.bddbc"],["e908118c.11e09"],["2e8bae1a.53c7a2"],["438ce105.30ede"],["5fcd495f.fcb788"],["7fbb8553.4b89ec"],["72c84b11.7bd9e4"],["2c23d16d.f4c17e"],["91cd5019.e2e03"],["b6cd7871.9f8ca8"],["a583cc34.0b135"],["74ce65b1.0bae5c"],[]]},{"id":"e3c1631a.713ae","type":"link in","z":"cd8c313a.1ec9b","name":"","links":["eb618a88.963408"],"x":35,"y":540,"wires":[["53317e8e.ea76b","8e3e5a75.731268"]]},{"id":"eb618a88.963408","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["e3c1631a.713ae","3f868f21.59ff2"],"x":595,"y":60,"wires":[]},{"id":"695d7b3b.d96374","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":335,"y":520,"wires":[]},{"id":"32281e5a.78a722","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["8af59c82.c318c"],"x":595,"y":20,"wires":[]},{"id":"9246472c.310f28","type":"comment","z":"cd8c313a.1ec9b","name":"Received Messages","info":"","x":190,"y":120,"wires":[]},{"id":"de663153.b3d88","type":"chatbot-quick-replies","z":"cd8c313a.1ec9b","name":"options","message":"Welcome to Edu Game 😊, what you would like to do ?","buttons":[{"type":"postback","label":"Manage Competitions","value":"manage competitions","alert":false},{"type":"postback","label":"Join a Competition","value":"join competition","alert":false}],"x":540,"y":480,"wires":[["e0603843.748f78"]]},{"id":"86dcfa6d.c09c18","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":480,"wires":[["de663153.b3d88"]]},{"id":"d23a9ea1.bddbc","type":"link out","z":"cd8c313a.1ec9b","name":"gen","links":["d7575e9c.92bc2"],"x":595,"y":140,"wires":[]},{"id":"e908118c.11e09","type":"link out","z":"cd8c313a.1ec9b","name":"form","links":["1a819971.02f797"],"x":605,"y":160,"wires":[]},{"id":"eb94a7aa.959e78","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1055,"y":420,"wires":[]},{"id":"2e8bae1a.53c7a2","type":"link out","z":"cd8c313a.1ec9b","name":"branch","links":["503d7528.73636c"],"x":605,"y":200,"wires":[]},{"id":"55cc27e7.9834b8","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["a176a276.a68b4","dea9b808.fc51a8"],"x":605,"y":100,"wires":[]},{"id":"7cf24662.fb7b58","type":"debug","z":"cd8c313a.1ec9b","name":"log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":210,"y":240,"wires":[]},{"id":"cc8f3384.4bf94","type":"comment","z":"cd8c313a.1ec9b","name":"Log","info":"Use debug node to log the messages recieved by the bot in the main flow","x":249,"y":324,"wires":[]},{"id":"c1228549.9a8ea8","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":250,"y":440,"wires":[[]]},{"id":"6d6eabcf.836de4","type":"tekosbot-image","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"image","label":"","src":"https://i.imgur.com/UydEulP.png"}],"x":410,"y":540,"wires":[["8b2aad22.9b3a9","8e75da51.56bd78"]]},{"id":"1541ed2e.e1ecb3","type":"form","z":"cd8c313a.1ec9b","name":"Join Competition","title":"Join Competition","subtitle":"Please enter compettition credentials","formId":"formid1","action":"Send","options":[{"label":"Competition #","value":"Competition #","type":"text","list":"","required":true},{"label":"Pin Code","value":"Pin Code","type":"password","list":"","required":true}],"formValue":{"Competition #":"","Pin Code":""},"payload":"","topic":"","x":260,"y":660,"wires":[["3ae2e975.4d59a6"]]},{"id":"3ae2e975.4d59a6","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":435,"y":660,"wires":[]},{"id":"a176a276.a68b4","type":"link in","z":"cd8c313a.1ec9b","name":"join","links":["55cc27e7.9834b8"],"x":95,"y":660,"wires":[["1541ed2e.e1ecb3"]]},{"id":"968f39c4.b63a98","type":"chatbot-quick-replies","z":"cd8c313a.1ec9b","name":"login","message":"Please login 😊","buttons":[{"type":"postback","label":"login","value":"login","alert":false}],"x":250,"y":540,"wires":[["695d7b3b.d96374","6d6eabcf.836de4"]]},{"id":"8b2aad22.9b3a9","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":522.0000495910645,"y":524.0000476837158,"wires":[]},{"id":"2de2c3dc.a9855c","type":"comment","z":"cd8c313a.1ec9b","name":"Recieved Data are in Payload, Go to store data action","info":"","x":1030,"y":700,"wires":[]},{"id":"e2136a0a.9e3e58","type":"DS Message receive","z":"cd8c313a.1ec9b","name":"chat/formId/formid1","msApp":"cac487df.d3c3b8","method":"chat/formId/formid1","x":620,"y":660,"wires":[["4534b3c1.1009cc","fe14c5f.c853638"]]},{"id":"470d1414.42dc8c","type":"link out","z":"cd8c313a.1ec9b","name":"crm","links":["42b665b5.e87b0c"],"x":975,"y":660,"wires":[]},{"id":"4534b3c1.1009cc","type":"debug","z":"cd8c313a.1ec9b","name":"Form Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":600,"wires":[]},{"id":"7ef01fd.9401be","type":"link in","z":"cd8c313a.1ec9b","name":"in competition","links":["9b4f7b19.dc3d18"],"x":20,"y":859,"wires":[["3946338c.787afc","7c9493dd.6ea13c"]]},{"id":"94bb07bf.494e78","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":413,"y":840,"wires":[]},{"id":"f65220ca.168be","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"You're In","message":[{"message":"Welcome to the Logistics Course Competition"}],"x":265,"y":859,"wires":[["94bb07bf.494e78","2e6c7cba.11b504"]]},{"id":"c9e5d873.9a0c48","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"select team and role","message":[{"message":"Here is the list of Teams you can join"}],"x":840,"y":858,"wires":[["466dd6fc.7fe608","ea4d5707.f59bb8"]]},{"id":"466dd6fc.7fe608","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":907,"y":785,"wires":[]},{"id":"47032c18.bc5f34","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":647,"y":858,"wires":[["c9e5d873.9a0c48"]]},{"id":"a595e6fd.384518","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"The Lions","subtitle":"Team 1","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Join as Production Manager","value":"select role","alert":false},{"type":"postback","label":"Join as Distribution Manager","value":"select role","alert":false},{"type":"postback","label":"Join as Sales","value":"select role","alert":false}],"x":1418,"y":856,"wires":[["13db2f31.f30251"]]},{"id":"ea4d5707.f59bb8","type":"delay","z":"cd8c313a.1ec9b","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1155,"y":856,"wires":[["a595e6fd.384518"]]},{"id":"3946338c.787afc","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":125,"y":859,"wires":[["f65220ca.168be"]]},{"id":"13db2f31.f30251","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Pandas","subtitle":"Team 2","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Join as Production Manager","value":"select role","alert":false},{"type":"postback","label":"Join as Distribution Manager","value":"distribution","alert":false},{"type":"postback","label":"Join as Sales","value":"select role","alert":false}],"x":1458,"y":896,"wires":[["1972de69.c1ef22"]]},{"id":"1972de69.c1ef22","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1663,"y":896,"wires":[]},{"id":"7c9493dd.6ea13c","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":195,"y":975,"wires":[[]]},{"id":"fe14c5f.c853638","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":660,"wires":[["470d1414.42dc8c"]]},{"id":"1f2ccfd6.c7da4","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":960,"wires":[["b6f57a36.599358"]]},{"id":"276fbc70.c89634","type":"chatbot-quick-replies","z":"cd8c313a.1ec9b","name":"options","message":"Tell me when you are ready to Go","buttons":[{"type":"postback","label":"🤟🏼 I'm Ready Go !","value":"go","alert":false}],"x":1341,"y":959,"wires":[["a1ebc37a.42398"]]},{"id":"a1ebc37a.42398","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1460,"y":956,"wires":[]},{"id":"1a819971.02f797","type":"link in","z":"cd8c313a.1ec9b","name":"go","links":["e908118c.11e09"],"x":75,"y":1120,"wires":[["155705f7.7b666a","ba9eeb77.c78578"]]},{"id":"b1e06a89.95b8f8","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"set production quantity","message":[{"message":"You have 5 min to set the Production Quantity, Good Luck ☘️"}],"x":370,"y":1120,"wires":[["364d8b61.227ef4","87ff29d4.54a9d8"]]},{"id":"364d8b61.227ef4","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":535,"y":1120,"wires":[]},{"id":"fbe87d6d.3206","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":675,"y":1140,"wires":[]},{"id":"87ff29d4.54a9d8","type":"tekosbot-image","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"image","label":"","src":"https://timertopia.files.wordpress.com/2017/04/5-minute.gif"}],"x":550,"y":1140,"wires":[["fbe87d6d.3206","d47f5f3e.b6cac"]]},{"id":"155705f7.7b666a","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":210,"y":1080,"wires":[[]]},{"id":"ba9eeb77.c78578","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1120,"wires":[["b1e06a89.95b8f8"]]},{"id":"d47f5f3e.b6cac","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1200,"wires":[["302cd8cf.fdf8e8"]]},{"id":"73f60aa.0c8bef4","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":855,"y":1200,"wires":[]},{"id":"45bb8db8.fe2344","type":"tekosbot-image","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"image","label":"","src":"https://w10schools.com/files/hfnc38ixnn4swcgkc8o0oskwk00kcow_rangeslider-js.png"}],"x":670,"y":1260,"wires":[["c5fd523d.ea9e2"]]},{"id":"c5fd523d.ea9e2","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":755,"y":1260,"wires":[]},{"id":"302cd8cf.fdf8e8","type":"tekosbot-image","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"image","label":"","src":"https://i.imgur.com/NSyMgDO.png"},{"type":"image","label":"","src":"https://i.imgur.com/OvgUbNS.png"}],"x":690,"y":1200,"wires":[["73f60aa.0c8bef4","3986ed5e.376f82"]]},{"id":"3986ed5e.376f82","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":1260,"wires":[["45bb8db8.fe2344"]]},{"id":"d7575e9c.92bc2","type":"link in","z":"cd8c313a.1ec9b","name":"create competition","links":["d23a9ea1.bddbc"],"x":35,"y":1360,"wires":[["8a2a6971.14f818","d6938ff5.49c91"]]},{"id":"821e31f1.19123","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"List","message":[{"message":"Here are your competitions 😊"}],"x":270,"y":1360,"wires":[["8847385f.c50d68"]]},{"id":"6e80248e.1ad81c","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Competition Class1","subtitle":"Not Started","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Edit teams","value":"edit teams","alert":false},{"type":"postback","label":"Edit Settings","value":"edit settings","alert":false},{"type":"postback","label":"Archieve","value":"Archieve","alert":false}],"x":570,"y":1420,"wires":[["9b9b239b.019c8"]]},{"id":"73a32821.fb08e8","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":855,"y":1460,"wires":[]},{"id":"8847385f.c50d68","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1400,"wires":[["4d0fe4ed.c1d12c"]]},{"id":"8a2a6971.14f818","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":210,"y":1320,"wires":[[]]},{"id":"d6938ff5.49c91","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":1360,"wires":[["821e31f1.19123"]]},{"id":"868c15ff.75e668","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1640,"wires":[["cec26d8d.3f7cd"]]},{"id":"9b9b239b.019c8","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Competition Class2","subtitle":"Not Started","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Edit teams","value":"edit teams","alert":false},{"type":"postback","label":"Edit Settings","value":"edit settings","alert":false},{"type":"postback","label":"Archieve","value":"Archieve","alert":false}],"x":710,"y":1460,"wires":[["73a32821.fb08e8"]]},{"id":"cec26d8d.3f7cd","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"New","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Create new team","value":"rename","alert":false}],"x":350,"y":1660,"wires":[["e20d8d11.be806"]]},{"id":"e20d8d11.be806","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Team 1","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Rename","value":"rename","alert":false},{"type":"postback","label":"Delete","value":"delete","alert":false}],"x":410,"y":1720,"wires":[["9369440a.cd4c08"]]},{"id":"2342b0d.70ad05","type":"link in","z":"cd8c313a.1ec9b","name":"edit teams","links":["438ce105.30ede"],"x":75,"y":1640,"wires":[["868c15ff.75e668","a476f093.a1c5f"]]},{"id":"503d7528.73636c","type":"link in","z":"cd8c313a.1ec9b","name":"edit competition","links":["2e8bae1a.53c7a2"],"x":75,"y":1520,"wires":[["589a3a74.123154","ac3a4bb0.6c9b18"]]},{"id":"438ce105.30ede","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["2342b0d.70ad05"],"x":605,"y":240,"wires":[]},{"id":"589a3a74.123154","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1520,"wires":[["e9fe1f1f.5a136"]]},{"id":"e9fe1f1f.5a136","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Production Settings","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Edit","value":"edit settings","alert":false}],"x":390,"y":1540,"wires":[["d9c31181.a202d"]]},{"id":"400fcf53.dc735","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":775,"y":1600,"wires":[]},{"id":"d9c31181.a202d","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Sales Settings","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Edit","value":"edit settings","alert":false}],"x":590,"y":1580,"wires":[["400fcf53.dc735"]]},{"id":"9369440a.cd4c08","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"","title":"Team 1","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Rename","value":"rename","alert":false},{"type":"postback","label":"Delete","value":"delete","alert":false}],"x":430,"y":1780,"wires":[["748369b9.c257f8"]]},{"id":"748369b9.c257f8","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":555,"y":1780,"wires":[]},{"id":"ac3a4bb0.6c9b18","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":250,"y":1480,"wires":[[]]},{"id":"a476f093.a1c5f","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":190,"y":1600,"wires":[[]]},{"id":"4d0fe4ed.c1d12c","type":"chatbot-generic-template","z":"cd8c313a.1ec9b","name":"new competition","title":"New","subtitle":"","imageUrl":"","sharable":true,"aspectRatio":"horizontal","buttons":[{"type":"postback","label":"Create new competition","value":"new competition","alert":false}],"x":360,"y":1420,"wires":[["6e80248e.1ad81c"]]},{"id":"5fcd495f.fcb788","type":"link out","z":"cd8c313a.1ec9b","name":"new","links":["e6b6b08a.2e1f4"],"x":595,"y":280,"wires":[]},{"id":"d21ec950.4c1df8","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1900,"wires":[["8b6c5639.08cce8"]]},{"id":"e6b6b08a.2e1f4","type":"link in","z":"cd8c313a.1ec9b","name":"new competition","links":["5fcd495f.fcb788"],"x":75,"y":1900,"wires":[["d21ec950.4c1df8","583decd9.d2e0e4"]]},{"id":"583decd9.d2e0e4","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":190,"y":1860,"wires":[[]]},{"id":"8b6c5639.08cce8","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"name","message":[{"message":"Give a name to you competition"}],"x":350,"y":1900,"wires":[["c8c5913e.fedfb","d8796c6b.66443"]]},{"id":"c8c5913e.fedfb","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":455,"y":1860,"wires":[]},{"id":"1cd8283d.43de18","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"Credentials","message":[{"message":"Here are the credentials of your competition:\nCompetition Id: 15421\nPin Code: 15433"}],"x":1090,"y":1980,"wires":[["9fb1c418.57b538","f1e5365.a8f25c8"]]},{"id":"dc214308.b3b6d","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":1980,"wires":[["1cd8283d.43de18"]]},{"id":"9fb1c418.57b538","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1215,"y":1980,"wires":[]},{"id":"91ea029e.6f72d","type":"chatbot-quick-replies","z":"cd8c313a.1ec9b","name":"invite","message":"You can invite your classroom","buttons":[{"type":"postback","label":"Invite","value":"invite","alert":false}],"x":1020,"y":2040,"wires":[["55b81f1b.d8b93"]]},{"id":"f1e5365.a8f25c8","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":2040,"wires":[["91ea029e.6f72d"]]},{"id":"55b81f1b.d8b93","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1115,"y":2040,"wires":[]},{"id":"d8796c6b.66443","type":"form","z":"cd8c313a.1ec9b","name":"New Competition","title":"New Competition","subtitle":"Please enter compettition details, the start date is for information only","formId":"formid2","action":"Create","options":[{"label":"Competition Name","value":"Competition name","type":"text","list":"","required":true},{"label":"Start Date & Time (approx)","value":"start date","type":"datetime","list":"","required":false}],"formValue":{"Competition name":"","start date":""},"payload":"","topic":"","x":570,"y":1900,"wires":[["2bdc4b8.24aabb4"]]},{"id":"2bdc4b8.24aabb4","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":745,"y":1900,"wires":[]},{"id":"ae474ce4.f8757","type":"DS Message receive","z":"cd8c313a.1ec9b","name":"chat/formId/formid2","msApp":"cac487df.d3c3b8","method":"chat/formId/formid2","x":930,"y":1900,"wires":[["8c81c87a.be6b58"]]},{"id":"1fe3aade.fae925","type":"link out","z":"cd8c313a.1ec9b","name":"","links":[],"x":1285,"y":1900,"wires":[]},{"id":"8c81c87a.be6b58","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":1900,"wires":[["1fe3aade.fae925","dc214308.b3b6d"]]},{"id":"26cecc55.41ba94","type":"tekosbot-video","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"video","label":"","src":"https://www.youtube.com/watch?v=LIFL8uf00_M"}],"x":990,"y":960,"wires":[["f9562835.1094c8","9346a0ef.9b106"]]},{"id":"f9562835.1094c8","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1075,"y":980,"wires":[]},{"id":"b6f57a36.599358","type":"chatbot-message","z":"cd8c313a.1ec9b","name":"prez","message":[{"message":"Great, here is a quick presentation of the Game"}],"x":690,"y":960,"wires":[["656cd327.f8d05c","c91be1c3.94ecf"]]},{"id":"7fbb8553.4b89ec","type":"link out","z":"cd8c313a.1ec9b","name":"prez","links":["239dd920.8bb3f6"],"x":595,"y":320,"wires":[]},{"id":"239dd920.8bb3f6","type":"link in","z":"cd8c313a.1ec9b","name":"prez","links":["7fbb8553.4b89ec"],"x":415,"y":960,"wires":[["1f2ccfd6.c7da4","36fc721a.6f647e"]]},{"id":"656cd327.f8d05c","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":855,"y":920,"wires":[]},{"id":"36fc721a.6f647e","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":530,"y":920,"wires":[[]]},{"id":"c91be1c3.94ecf","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":960,"wires":[["26cecc55.41ba94"]]},{"id":"42b665b5.e87b0c","type":"link in","z":"cd8c313a.1ec9b","name":"login team","links":["470d1414.42dc8c"],"x":35,"y":780,"wires":[["7968730.c2d958c","9520c08e.1f8"]]},{"id":"42d07ba8.14d924","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":335,"y":760,"wires":[]},{"id":"ac97915a.36874","type":"tekosbot-image","z":"cd8c313a.1ec9b","name":"","medias":[{"type":"image","label":"","src":"https://i.imgur.com/UydEulP.png"}],"x":410,"y":780,"wires":[["9d724449.ce0db8"]]},{"id":"155049f7.1a57b6","type":"chatbot-quick-replies","z":"cd8c313a.1ec9b","name":"login","message":"Please login 😊","buttons":[{"type":"postback","label":"login","value":"login team","alert":false}],"x":250,"y":780,"wires":[["42d07ba8.14d924","ac97915a.36874"]]},{"id":"9d724449.ce0db8","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":495,"y":780,"wires":[]},{"id":"9b4f7b19.dc3d18","type":"link out","z":"cd8c313a.1ec9b","name":"login team","links":["7ef01fd.9401be"],"x":595,"y":120,"wires":[]},{"id":"7968730.c2d958c","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":150,"y":740,"wires":[[]]},{"id":"53317e8e.ea76b","type":"Clear Messages","z":"cd8c313a.1ec9b","name":"Refresh Page","msApp":"cac487df.d3c3b8","x":270,"y":580,"wires":[[]]},{"id":"9520c08e.1f8","type":"delay","z":"cd8c313a.1ec9b","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":780,"wires":[["155049f7.1a57b6"]]},{"id":"8e3e5a75.731268","type":"delay","z":"cd8c313a.1ec9b","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":540,"wires":[["968f39c4.b63a98"]]},{"id":"9346a0ef.9b106","type":"delay","z":"cd8c313a.1ec9b","name":"3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1165,"y":961,"wires":[["276fbc70.c89634"]]},{"id":"a25baf2f.b83b5","type":"watson-text-speech","z":"cd8c313a.1ec9b","name":"","message":[{"message":"<speak>\n<express-as type=\"GoodNews\">\nHey, Welcome to the Logistics Course Competition.\nLet's start by selecting the team you want to join and your role\n    </express-as>\n  </speak>"}],"voice":"en-US_AllisonVoice","apikey":"pq6zlB_x8HGpLYHM3fi6Nf8p2Gt_cXFBgNVShxJRiPHM","endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","answer":false,"track":false,"x":516.5,"y":819,"wires":[["47032c18.bc5f34","a84d754d.b3f228","3d803c1f.5acaf4"]]},{"id":"3d803c1f.5acaf4","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":607,"y":750,"wires":[]},{"id":"2e6c7cba.11b504","type":"delay","z":"cd8c313a.1ec9b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":426,"y":869,"wires":[["a25baf2f.b83b5"]]},{"id":"a84d754d.b3f228","type":"debug","z":"cd8c313a.1ec9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":699.5,"y":806,"wires":[]},{"id":"66c47e09.0fae4","type":"watson-text-speech","z":"cd8c313a.1ec9b","name":"","message":[{"message":"<speak>\n<express-as type=\"GoodNews\">\nLet's start by selecting the team you want to join and your role\n    </express-as>\n  </speak>"}],"voice":"en-US_AllisonVoice","apikey":"pq6zlB_x8HGpLYHM3fi6Nf8p2Gt_cXFBgNVShxJRiPHM","endpoint":"https://stream-fra.watsonplatform.net/text-to-speech/api","answer":false,"track":false,"x":1172,"y":769,"wires":[["e8d4817e.bf176"]]},{"id":"e8d4817e.bf176","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":1277.5,"y":765,"wires":[]},{"id":"73fc8cba.9172f4","type":"delay","z":"cd8c313a.1ec9b","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1025,"y":767,"wires":[["66c47e09.0fae4"]]},{"id":"93679f6e.d297","type":"DS Message receive","z":"cd8c313a.1ec9b","name":"","msApp":"cac487df.d3c3b8","method":"chat/themeSettings","x":1095,"y":55,"wires":[["aa731844.8f81a8"]]},{"id":"aa731844.8f81a8","type":"function","z":"cd8c313a.1ec9b","name":"Theme","func":"msg.payload = {\n    themeSettings: {\n        meta: {\n            title: 'Hanna App',\n            image: 'https://tekos.co/wp-content/uploads/2018/04/tekos-1-4-1024x768.png'\n        },\n        global: {\n       // 'padding-bottom': '12px',\n        //'padding-left': '300px',\n        //'padding-right': '300px',\n        //'background-image': 'linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)'\n        // 'background-image': 'url(\"https://i.imgur.com/Sc1IKTE.png\")'\n      //  'background': '#F5F5DC !important'\n        },\n        card: {\n          global: {\n              /*width: '280px',\n              'background-color': '#F08080 !important'*/\n          },\n          text: {\n              /*'color': '#ffffff !important',\n              'margin-top': '5px',\n              'font-size': '45px'*/\n          },\n          button: {\n              /*color: '#4B0082 !important'*/\n          }\n        },\n        quickReply: {\n          global: {},\n          button: {\n              //\"border-color\": '#f00',\n              //\"color\": '#8A2BE2 !important',\n              'font-size': '20px !important'\n          }\n        },\n        bubble: {\n          user: {\n            container: {\n                'color': '#FFFFFF'\n            },\n            text: {\n                'color': '##8B0000',\n                'font-size': '18px !important',\n                'font-family': 'roboto'\n            }\n          },\n          bot: {\n            container: {\n                'color': '#FFFFFF !important', //D2D1FF, FFFFFF\n             //  'background-image': 'linear-gradient(135deg, #667eea 0%, #764ba2 100%)'\n          //      'background-image': 'background-image: linear-gradient( 109.6deg,  rgba(151,212,209,1) 11.2%, rgba(8,50,160,1) 91.1% )'\n            },\n            text: {\n                'color': '#0C0000 !important',\n                'font-family': 'roboto',\n                'font-size': '18px !important'\n            }\n          }\n        },\n        persistentMenu: {\n          global: {},\n          button: {}\n        },\n        topMenu: {\n          global: {\n              'background': '#87CEFA !important'\n          },\n          button: {},\n          list: {},\n          listItem: {}\n        },\n        imageUpload: {},\n        form: {\n          global: {\n              background: '#ffffff !important'\n          },\n          title: {\n              'font-family': 'Arial !important',\n              'color': '#fff',\n              'background': '#6A5ACD'\n          },\n          subtitle: {},\n          label: {},\n          input: {},\n          button: {\n              'color': '#ff0000 !important'\n          }\n        }\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":40,"wires":[["b2dc5f17.deacd"]]},{"id":"b2dc5f17.deacd","type":"DS Message send","z":"cd8c313a.1ec9b","msApp":"cac487df.d3c3b8","name":"","nextListener":"","nextUri":"","nextAppName":"","x":1475,"y":55,"wires":[]},{"id":"258b5069.b6a76","type":"function","z":"cd8c313a.1ec9b","name":"persistent menu","func":"msg.payload = {\n  \"persistent_menu\":\n    {\n      /*\"locale\":\"default\",\n      \"composer_input_disabled\": true,*/\n      \"horizontal\": true,\n      \"call_to_actions\":[\n        {\n          \"title\":\"Menu\",\n          \"type\":\"postback\",\n          \"message\": \"start\",\n          \"color\": \"primary\",\n          \"icon\": \"home\",\n          \"silent\": true\n        },\n        {\n          \"title\":\"My Apps\",\n          \"type\":\"postback\",\n          \"message\": \"my apps\",\n          \"color\": \"primary\",\n          \"icon\": \"apps\",\n          \"silent\": true\n        },\n        {\n          \"title\":\"Assistance\",\n          \"type\":\"postback\",\n          \"message\": \"get assistant\",\n          \"color\": \"primary\",\n          \"icon\": \"help\",\n          \"silent\": true\n        }\n      ]\n    }\n  \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1317,"y":128,"wires":[["b4a952cc.fe272"]]},{"id":"f77b03dd.9ddf7","type":"DS Message receive","z":"cd8c313a.1ec9b","name":"","msApp":"cac487df.d3c3b8","method":"chat/menu","x":1096.6631774902344,"y":128.16319179534912,"wires":[[]]},{"id":"b4a952cc.fe272","type":"DS Message send","z":"cd8c313a.1ec9b","msApp":"cac487df.d3c3b8","name":"","nextListener":"","nextUri":"","nextAppName":"","x":1527,"y":128,"wires":[]},{"id":"8e75da51.56bd78","type":"function","z":"cd8c313a.1ec9b","name":"","func":"msg.payload ={\n    type: 'message',\n    content:\"I am a message\"\n} ;\nreturn msg;","outputs":1,"noerr":0,"x":669.517484664917,"y":562.7397880554199,"wires":[["4b38e821.656688","c6bd6215.547b8"]]},{"id":"4b38e821.656688","type":"link out","z":"cd8c313a.1ec9b","name":"","links":["89e05014.199d"],"x":792.0105171203613,"y":541.0105247497559,"wires":[]},{"id":"c6bd6215.547b8","type":"debug","z":"cd8c313a.1ec9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":816.5208435058594,"y":492.71878814697266,"wires":[]},{"id":"de3bdd73.4bf65","type":"function","z":"402d71b.417b09","name":"grid","func":"msg.uid=\"1552661019542dndqwel34bu\"\nmsg.payload = {\n    type: 'edu-grid',\n    edu_grid: {\n        grid: 'distribution', \n        game: '5c86808f79682d61926ef0cb' ,\n        team: 'teamgg1'    \n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["8f87c81.4de7a38"]]},{"id":"8f87c81.4de7a38","type":"DS Message send","z":"402d71b.417b09","msApp":"cac487df.d3c3b8","name":"","nextListener":"","nextUri":"","nextAppName":"","x":830,"y":220,"wires":[]},{"id":"9896fddf.ae0a1","type":"inject","z":"402d71b.417b09","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":200,"wires":[["de3bdd73.4bf65"]]},{"id":"6ac83e11.a2ada","type":"function","z":"402d71b.417b09","name":"chart","func":"msg.uid=\"1552654742636x62dg5p3vyq\"\nmsg.payload = {\n    type: 'edu-chart',\n    edu_chart: {\n        chart: 'production-inventory', \n        game: '5c86808f79682d61926ef0cb' ,\n        team: 'teamgg1'    \n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["8f87c81.4de7a38"]]},{"id":"98c233f8.e4733","type":"inject","z":"402d71b.417b09","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["6ac83e11.a2ada"]]},{"id":"72c84b11.7bd9e4","type":"function","z":"cd8c313a.1ec9b","name":"grid","func":"\nmsg.payload = {\n    type: 'edu-grid',\n    edu_grid: {\n        grid: 'distribution', \n        game: '5c95f64b79682d61927732f9' ,\n        team: 'team_a2'    \n    } \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["b41e7c2.329318"]]},{"id":"2c23d16d.f4c17e","type":"function","z":"cd8c313a.1ec9b","name":"chart","func":"\nmsg.payload = {\n    type: 'edu-chart',\n    edu_chart: {\n        chart: 'production-inventory', \n        game: '5c95f64b79682d61927732f9' ,\n        team: 'team_a2'      \n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["b41e7c2.329318"]]},{"id":"91cd5019.e2e03","type":"function","z":"cd8c313a.1ec9b","name":"timer","func":"\nmsg.payload = {\n    type: 'edu-timer',\n    edu_timer: {\n        game: '5c95f64b79682d61927732f9' ,\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["b41e7c2.329318"]]},{"id":"b6cd7871.9f8ca8","type":"function","z":"cd8c313a.1ec9b","name":"production","func":"\nmsg.payload = {\n    type: 'edu-vals',\n    edu_vals:  \n        {game: '5c95f64b79682d61927732f9',team: 'team_a2',stage: 'Production' , charts: ['production-inventory','retail-inventory','production-cost','production-emission','sales-forecast']}\n  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":380,"wires":[["eb94a7aa.959e78"]]},{"id":"a583cc34.0b135","type":"function","z":"cd8c313a.1ec9b","name":"distribution","func":"\nmsg.payload = {\n    type: 'edu-vals',\n    edu_vals:  \n        {game: '5c95f64b79682d61927732f9',team: 'team_a2',stage: 'Distribution' , charts: ['production-inventory','retail-inventory','distribution-cost','distribution-emission','sales-forecast']}\n  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":420,"wires":[["eb94a7aa.959e78"]]},{"id":"74ce65b1.0bae5c","type":"function","z":"cd8c313a.1ec9b","name":"sales","func":"\nmsg.payload = {\n    type: 'edu-vals',\n    edu_vals:  \n        {game: '5c95f64b79682d61927732f9',team: 'team_a2',stage: 'Sales' , charts: ['retail-inventory','distribution-cost','sales-performance','sales-forecast']}\n  \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":460,"wires":[["eb94a7aa.959e78"]]},{"id":"40132246.728b3c","type":"function","z":"8629245d.96b658","name":"create query","func":"msg.url = \"http://145.239.135.156:5000/api/queries?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\n\t\"data_source_id\":1,\n\t\"name\":\"qt-name\",\n\t\"options\":{\"parameters\": []},\n\t\"query\": \"{ \\\"collection\\\": \\\"playerproductions\\\", \\\"query\\\": {    \\\"team\\\": \\\"teamg1\\\"    }, \\\"fields\\\": {\\\"month\\\":1,\\\"InvtWPB_i\\\":2,\\\"InvtWRB_i\\\":3}  }\",\n\t\"schedule\":null,\n\t\"is_draft\":false\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["b5e51d43.1a11c"]]},{"id":"b5e51d43.1a11c","type":"http request","z":"8629245d.96b658","name":"","method":"POST","ret":"obj","url":"","tls":"","x":640,"y":160,"wires":[["8e692cea.9eada","94463cc0.e1a7b"]]},{"id":"40714c61.64cb94","type":"inject","z":"8629245d.96b658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["40132246.728b3c"]]},{"id":"8e692cea.9eada","type":"debug","z":"8629245d.96b658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":160,"wires":[]},{"id":"94463cc0.e1a7b","type":"function","z":"8629245d.96b658","name":"execute query","func":"let query_id = msg.payload.id\nglobal.set('query_id',msg.payload.id)\nmsg = {}\nmsg.query_id=query_id\nmsg.url = \"http://server.tekos.co:5000/api/query_results?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"data_source_id\":1,\n                \"query\":\"{ \\\"collection\\\": \\\"playerproductions\\\", \\\"query\\\": {    \\\"team\\\": \\\"teamg1\\\"    }, \\\"fields\\\": {\\\"month\\\":1,\\\"InvtWPB_i\\\":2,\\\"InvtWRB_i\\\":3}  }\",\"max_age\":0,\n                \"query_id\":query_id}\n                \n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["90eb832.716be8"]]},{"id":"90eb832.716be8","type":"http request","z":"8629245d.96b658","name":"","method":"POST","ret":"obj","url":"","tls":"","x":660,"y":260,"wires":[["2a28738b.a76d2c","14b7372c.eaa5c9"]]},{"id":"2a28738b.a76d2c","type":"function","z":"8629245d.96b658","name":"publish query","func":"let query_id = global.get('query_id')\n\nmsg={}\nmsg.query_id =query_id\nmsg.url = \"http://server.tekos.co:5000/api/queries/\"+query_id+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nmsg.payload = {\"is_draft\":false,\"id\":query_id,\"version\":1}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["b5920394.c04a7"]]},{"id":"b5920394.c04a7","type":"http request","z":"8629245d.96b658","name":"","method":"POST","ret":"obj","url":"","tls":"","x":660,"y":340,"wires":[["8224d5df.e50088","f5f1a29d.0096f"]]},{"id":"8224d5df.e50088","type":"function","z":"8629245d.96b658","name":"inventory graph","func":"let query_id = global.get('query_id')\nmsg = {}\nmsg.url = \"http://server.tekos.co:5000/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"type\":\"CHART\",\"name\":\"qt-vis\",\"description\":\"\",\"options\":{\"globalSeriesType\":\"column\",\"sortX\":true,\"legend\":{\"enabled\":true},\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"category\",\"opposite\":true}],\"xAxis\":{\"type\":\"category\",\"labels\":{\"enabled\":true}},\"error_y\":{\"type\":\"data\",\"visible\":true},\"series\":{\"stacking\":null,\"error_y\":{\"type\":\"data\",\"visible\":true}},\"seriesOptions\":{\"InvtWPB_i\":{\"type\":\"column\",\"yAxis\":0,\"zIndex\":0,\"index\":0},\"InvtWRB_i\":{\"type\":\"column\",\"yAxis\":0,\"zIndex\":1,\"index\":0}},\"columnMapping\":{\"InvtWPB_i\":\"y\",\"InvtWRB_i\":\"y\",\"month\":\"x\"},\"defaultColumns\":3,\"defaultRows\":8,\"minColumns\":1,\"minRows\":5,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\"},\n                \"query_id\":query_id}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["f0d66763.74c0e8"]]},{"id":"f0d66763.74c0e8","type":"http request","z":"8629245d.96b658","name":"","method":"POST","ret":"obj","url":"","tls":"","x":660,"y":440,"wires":[["2e91b52a.b6af4a"]]},{"id":"14b7372c.eaa5c9","type":"debug","z":"8629245d.96b658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":260,"wires":[]},{"id":"f5f1a29d.0096f","type":"debug","z":"8629245d.96b658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":380,"wires":[]},{"id":"2e91b52a.b6af4a","type":"debug","z":"8629245d.96b658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":440,"wires":[]},{"id":"a7c84ba5.0fc628","type":"function","z":"8629245d.96b658","name":"publish dashboard","func":"let team = msg.team\nmsg.url = \"http://server.tekos.co:5000/api/dashboards/4\"\nmsg.payload = {\"slug\":4,\"name\":team,\"is_draft\":false}\n\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":460,"wires":[[]]},{"id":"3d236a61.a38a86","type":"debug","z":"8629245d.96b658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1280,"y":880,"wires":[]},{"id":"447e699.40c1398","type":"function","z":"d7b88898.3449f8","name":"create query","func":"let team = msg.team\nmsg.url = \"https://edugraphs.tekos.co/api/queries?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"is_draft\":false,\"schedule\":null,\"query\":\"{\\n    \\\"collection\\\": \\\"periods\\\",\\n    \\\"aggregate\\\": \\n                [{\\n                    \\\"$lookup\\\": {\\n                        \\\"from\\\": \\\"playerproductions\\\",\\n                        \\\"localField\\\": \\\"_id\\\",\\n                        \\\"foreignField\\\": \\\"month\\\",\\n                        \\\"as\\\": \\\"playerValues\\\"\\n                    }\\n                }, {\\n                    \\\"$unwind\\\": {\\n                        \\\"path\\\": \\\"$playerValues\\\",\\n                        \\\"preserveNullAndEmptyArrays\\\": true\\n                    }\\n                }, {\\n                    \\\"$match\\\": {\\n                        \\n                        \\\"playerValues.team\\\": \\\"\"+team+\"\\\"\\n                    }\\n                }]\\n}\\n\",\"name\":team,\"data_source_id\":1,\"options\":{\"parameters\":[]}}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":400,"wires":[["a2f21c92.d74d2"]]},{"id":"fab05bb9.fe2e28","type":"function","z":"d7b88898.3449f8","name":"create dashboard","func":"msg.url = \"https://edugraphs.tekos.co/api/dashboards?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet team = msg.team\nmsg.payload = {\"name\":team,\"is_draft\":false}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":900,"wires":[["c9e24031.86409"]]},{"id":"9b6b8f4e.36a94","type":"function","z":"d7b88898.3449f8","name":"add widget p-invt","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production_inventory//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\n\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":0,\"row\":0}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["83368e5b.ab5ba"]]},{"id":"1d3b74a.3add68b","type":"function","z":"d7b88898.3449f8","name":"production-inventory","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"description\":\"\", \"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":null,\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"area\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.InvtWPB_i\":{\"zIndex\":0,\"index\":0,\"type\":\"area\",\"name\":\"Inventory WPB\",\"yAxis\":0},\"playerValues.InvtWPE_i\":{\"zIndex\":1,\"index\":0,\"type\":\"area\",\"name\":\"Inventory WPE\",\"yAxis\":0}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"name\":\"unused\",\"label\":\"x\",\"game\":\"unused\",\"playerValues.InvtWPB_i\":\"y\",\"playerValues.HoldCost\":\"unused\",\"playerValues.month\":\"unused\",\"playerValues.InvtWPE_i\":\"y\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Production Inventory\",\n\"query_id\":msg.query_id}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["602369aa.097518"]]},{"id":"3c2cebd.b8f7514","type":"function","z":"d7b88898.3449f8","name":"retail-inventory","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_ids = [msg.payload.id]\nmsg.viz_production_inventory = msg.payload.id\nmsg.payload = {\"type\":\"CHART\",\"name\":\"Retail Inventory\",\"description\":\"\",\"options\":{\"globalSeriesType\":\"area\",\"sortX\":false,\"legend\":{\"enabled\":true},\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"xAxis\":{\"type\":\"category\",\"labels\":{\"enabled\":true}},\"error_y\":{\"type\":\"data\",\"visible\":true},\"series\":{\"stacking\":null,\"error_y\":{\"type\":\"data\",\"visible\":true},\"percentValues\":false},\"seriesOptions\":{\"playerValues.InvtWRB_i\":{\"type\":\"area\",\"yAxis\":0,\"zIndex\":0,\"index\":0,\"name\":\"Invt WRB\"},\"playerValues.InvtWRE_i\":{\"type\":\"area\",\"yAxis\":0,\"zIndex\":1,\"index\":0,\"name\":\"Invt WRE\"}},\"columnMapping\":{\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.month\":\"unused\",\"label\":\"x\",\"name\":\"unused\",\"index\":\"unused\",\"demandHistory\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.HoldCost\":\"unused\",\"playerValues.InvtWRE_i\":\"y\",\"playerValues.InvtWRB_i\":\"y\"},\"defaultColumns\":3,\"defaultRows\":8,\"minColumns\":1,\"minRows\":5,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\"},\n\"query_id\":msg.query_id}\n// add the previous visualization _id to a table\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["b02b0e92.b77d5"]]},{"id":"bbe14064.300d4","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":540,"y":480,"wires":[["1d3b74a.3add68b"]]},{"id":"602369aa.097518","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":800,"y":580,"wires":[["3c2cebd.b8f7514"]]},{"id":"cfdc7f99.58dc5","type":"function","z":"d7b88898.3449f8","name":"production","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_ids.push(msg.payload.id)\nmsg.viz_retail_invt = msg.payload.id\nmsg.payload = {\"type\":\"CHART\",\"name\":\"Production\",\"description\":\"\",\"options\":{\"globalSeriesType\":\"column\",\"sortX\":false,\"legend\":{\"enabled\":true},\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"xAxis\":{\"type\":\"category\",\"labels\":{\"enabled\":true}},\"error_y\":{\"type\":\"data\",\"visible\":true},\"series\":{\"stacking\":null,\"error_y\":{\"type\":\"data\",\"visible\":true},\"percentValues\":false},\"seriesOptions\":{\"playerValues.Qt\":{\"type\":\"column\",\"yAxis\":0,\"zIndex\":0,\"index\":0,\"name\":\"Production\"}},\"columnMapping\":{\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.month\":\"unused\",\"label\":\"x\",\"name\":\"unused\",\"index\":\"unused\",\"demandHistory\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.HoldCost\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.Qt\":\"y\"},\"defaultColumns\":3,\"defaultRows\":8,\"minColumns\":1,\"minRows\":5,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\"},\n\"query_id\":msg.query_id}\n// add the previous visualization _id to a table\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":680,"wires":[["e376a535.02f258"]]},{"id":"eaba32fa.2a9a7","type":"function","z":"d7b88898.3449f8","name":"production-cost","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_production = msg.payload.id\nmsg.payload = {\"description\":\"\",\"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":\"stack\",\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"column\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.ProdCost\":{\"zIndex\":0,\"index\":0,\"type\":\"column\",\"name\":\"Prod Cost\",\"yAxis\":0},\"playerValues.InvtWR_HoldingCost\":{\"zIndex\":2,\"index\":0,\"type\":\"column\",\"name\":\"WR Holding Cost\",\"yAxis\":0},\"playerValues.InvtWP_HoldingCost\":{\"zIndex\":1,\"index\":0,\"type\":\"column\",\"name\":\"WP Holding Cost\",\"yAxis\":0}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"playerValues.month\":\"unused\",\"name\":\"unused\",\"playerValues.Qt\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"label\":\"x\",\"playerValues.HoldCost\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.ProdCost\":\"y\",\"playerValues.InvtWR_HoldingCost\":\"y\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.InvtWP_HoldingCost\":\"y\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Production Cost\",\n\"query_id\":msg.query_id}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":720,"wires":[["b95be8f3.7810a8"]]},{"id":"53ef9f90.59c2d","type":"function","z":"d7b88898.3449f8","name":"distribution-cost","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_production_cost = msg.payload.id\nmsg.payload = {\"description\":\"\",\"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":\"stack\",\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"column\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.Sea_Cost\":{\"zIndex\":1,\"index\":0,\"type\":\"column\",\"yAxis\":0,\"name\":\"Sea Cost\",\"color\":\"#00B6EB\"},\"playerValues.Air_Cost\":{\"zIndex\":0,\"index\":0,\"type\":\"column\",\"yAxis\":0,\"name\":\"Air Cost\",\"color\":\"#C63FA9\"}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"playerValues.month\":\"unused\",\"name\":\"unused\",\"playerValues.Qt\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"playerValues.Air_Cost\":\"y\",\"label\":\"x\",\"playerValues.HoldCost\":\"unused\",\"game\":\"unused\",\"playerValues.Sea_Cost\":\"y\",\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.ProdCost\":\"unused\",\"playerValues.InvtWR_HoldingCost\":\"unused\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.InvtWP_HoldingCost\":\"unused\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Distribution Cost\",\n\"query_id\":msg.query_id}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":780,"wires":[["a42c4d5d.43255"]]},{"id":"b02b0e92.b77d5","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":760,"y":640,"wires":[["cfdc7f99.58dc5"]]},{"id":"e376a535.02f258","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":740,"y":680,"wires":[["eaba32fa.2a9a7"]]},{"id":"b95be8f3.7810a8","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":760,"y":720,"wires":[["53ef9f90.59c2d"]]},{"id":"a42c4d5d.43255","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":780,"y":780,"wires":[["34390284.1c7c4e"]]},{"id":"34390284.1c7c4e","type":"function","z":"d7b88898.3449f8","name":"save viz_id","func":"msg.viz_ids.push(msg.payload.id)\nmsg.viz_distribution_cost = msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":780,"wires":[["fab05bb9.fe2e28"]]},{"id":"b2f2dc87.d4954","type":"function","z":"d7b88898.3449f8","name":"execute","func":"let query_id = msg.payload.id\nmsg.query_id=query_id\nmsg.url = \"https://edugraphs.tekos.co/api/query_results?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"data_source_id\":1,\n                \"query\":\"{ \\\"collection\\\": \\\"playerproductions\\\", \\\"query\\\": {    \\\"team\\\": \\\"teamg1\\\"    }, \\\"fields\\\": {\\\"month\\\":1,\\\"InvtWPB_i\\\":2,\\\"InvtWRB_i\\\":3}  }\",\"max_age\":0,\n                \"query_id\":query_id}\n                \n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["bbe14064.300d4"]]},{"id":"a2f21c92.d74d2","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":420,"y":380,"wires":[["b2f2dc87.d4954","872d2d34.60a84"]]},{"id":"9c450f62.0285f","type":"inject","z":"d7b88898.3449f8","name":"","topic":"","payload":"{\"team\":\"game1_team1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["83f730b.f3248d"]]},{"id":"2ca5f091.64d27","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":660,"y":1000,"wires":[["9b6b8f4e.36a94"]]},{"id":"83368e5b.ab5ba","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":620,"y":1060,"wires":[["b65b2b40.06d658"]]},{"id":"b65b2b40.06d658","type":"function","z":"d7b88898.3449f8","name":"add widget retail-invt","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_retail_invt//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":0}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1120,"wires":[["56fd667a.be3068"]]},{"id":"56fd667a.be3068","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":720,"y":1120,"wires":[["7e4977de.aaad88"]]},{"id":"872d2d34.60a84","type":"function","z":"d7b88898.3449f8","name":"publish query","func":"let query_id = msg.payload.id\n\nmsg.query_id =query_id\nmsg.url = \"https://edugraphs.tekos.co/api/queries/\"+query_id+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nmsg.payload = {\"is_draft\":false,\"id\":query_id,\"version\":1}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["5b09a0b3.dc7e3"]]},{"id":"5b09a0b3.dc7e3","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":900,"y":360,"wires":[[]]},{"id":"c440c1e1.1c06f","type":"function","z":"d7b88898.3449f8","name":"publish dashboard","func":"let dashboard_id = msg.payload.id\nmsg.dashboard_id = dashboard_id\n\nmsg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+dashboard_id+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nmsg.payload = {\"slug\":dashboard_id,\"name\":msg.team,\"is_draft\":false}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1000,"wires":[["2ca5f091.64d27"]]},{"id":"c9e24031.86409","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":600,"y":880,"wires":[["c440c1e1.1c06f"]]},{"id":"101db93e.e12eb7","type":"function","z":"d7b88898.3449f8","name":"share url","func":"let dashboard_id = msg.dashboard_id\nmsg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+dashboard_id+\"/share?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1400,"wires":[["d97092a.256627"]]},{"id":"d97092a.256627","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":580,"y":1400,"wires":[["e9326fb8.c244b","8cd919c6.31e8c8"]]},{"id":"83f730b.f3248d","type":"function","z":"d7b88898.3449f8","name":"fetch dashboard","func":"msg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+msg.payload.team+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.team = msg.payload.team\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["2e942b31.547c54"]]},{"id":"2e942b31.547c54","type":"http request","z":"d7b88898.3449f8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":560,"y":200,"wires":[["a418407a.643fd"]]},{"id":"a418407a.643fd","type":"switch","z":"d7b88898.3449f8","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":200,"wires":[["e60b9b1c.387458"],["447e699.40c1398"]]},{"id":"e60b9b1c.387458","type":"debug","z":"d7b88898.3449f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":160,"wires":[]},{"id":"e9326fb8.c244b","type":"function","z":"d7b88898.3449f8","name":"query results","func":"let team = msg.team\nlet query_id = msg.query_id\nmsg.url = \"https://edugraphs.tekos.co/api/query_results?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload= {\"data_source_id\":1,\"query\":\"{\\n    \\\"collection\\\": \\\"periods\\\",\\n    \\\"aggregate\\\": \\n                [{\\n                    \\\"$lookup\\\": {\\n                        \\\"from\\\": \\\"playerproductions\\\",\\n                        \\\"localField\\\": \\\"_id\\\",\\n                        \\\"foreignField\\\": \\\"month\\\",\\n                        \\\"as\\\": \\\"playerValues\\\"\\n                    }\\n                }, {\\n                    \\\"$unwind\\\": {\\n                        \\\"path\\\": \\\"$playerValues\\\",\\n                        \\\"preserveNullAndEmptyArrays\\\": true\\n                    }\\n                }, {\\n                    \\\"$match\\\": {\\n                        \\n                        \\\"playerValues.team\\\": \\\"\"+team+\"\\\"\\n                    }\\n                }]\\n}\\n\",\"query_id\":query_id}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1480,"wires":[["92f26ca9.094be"]]},{"id":"92f26ca9.094be","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":540,"y":1480,"wires":[[]]},{"id":"7e4977de.aaad88","type":"function","z":"d7b88898.3449f8","name":"add widget production","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":8}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1180,"wires":[["8e7f30ce.89c19"]]},{"id":"8e7f30ce.89c19","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":700,"y":1180,"wires":[["da42b2c3.3602f"]]},{"id":"852824b9.c567d8","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":680,"y":1240,"wires":[["3ffed129.f0bc0e"]]},{"id":"da42b2c3.3602f","type":"function","z":"d7b88898.3449f8","name":"add production cost","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production_cost //msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":8}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1240,"wires":[["852824b9.c567d8"]]},{"id":"3ffed129.f0bc0e","type":"function","z":"d7b88898.3449f8","name":"add distribution cost","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_distribution_cost //msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":0,\"row\":16}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1300,"wires":[["c2ce8f7c.e43da"]]},{"id":"c2ce8f7c.e43da","type":"http request","z":"d7b88898.3449f8","name":"","method":"POST","ret":"obj","url":"","tls":"","x":680,"y":1300,"wires":[["101db93e.e12eb7"]]},{"id":"8cd919c6.31e8c8","type":"debug","z":"d7b88898.3449f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1400,"wires":[]},{"id":"6a0d5333.16798c","type":"function","z":"b76ca7a8.f03538","name":"create community","func":"let game = msg.payload.game\nmsg.url = \"https://matrix.tekos.co/_matrix/client/r0/create_group\"\nmsg.payload = {\"localpart\":game,\"profile\":{\"name\":game}}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":780,"wires":[[]]},{"id":"5deeb939.6b4478","type":"function","z":"b76ca7a8.f03538","name":"get rooms in community","func":"let group_id = encodeURIComponent(msg.group_id)\n\nmsg.access_token = \"MDAxZGxvY2F0aW9uIG1hdHJpeC50ZWtvcy5jbwowMDEzaWRlbnRpZmllciBrZXkKMDAxMGNpZCBnZW4gPSAxCjAwMmNjaWQgdXNlcl9pZCA9IEBhYmRlbGhheTptYXRyaXgudGVrb3MuY28KMDAxNmNpZCB0eXBlID0gYWNjZXNzCjAwMjFjaWQgbm9uY2UgPSBlMTBvOEpLeXVaWEVBLXBkCjAwMmZzaWduYXR1cmUgjJqFiWYLdswgqbqjT0UnmL2GfCFhbUIt6t68EKWZh4wK\"\n\nmsg.url = \"https://matrix.tekos.co/_matrix/client/r0/groups/\"+group_id+\"/rooms?access_token=\"+msg.access_token\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["2141f790.36fad8"]]},{"id":"2141f790.36fad8","type":"http request","z":"b76ca7a8.f03538","name":"","method":"GET","ret":"obj","url":"","tls":"","x":580,"y":300,"wires":[["aa974cc8.2bb1a","7ae7085.d22abf8"]]},{"id":"5c8a0e34.68fbf","type":"function","z":"b76ca7a8.f03538","name":"create game","func":"msg.url = \"https://edugame.tekos.co/game/inputs\"\nmsg.group_id = msg.payload.group_name\nmsg.payload = \n    {\n      \"game\": {\n        \"name\": msg.payload.game,\n        \"InitialBudget\": 0,\n        \"InventoryAffectSales\": true,\n        \"carbon_policy\": {\n          \"Option\": 0,\n          \"Carbon_Tax\": 0,\n          \"Carbon_Cap\": 0,\n          \"Penalty\": 0\n        },\n        \"investment_options\": {\n          \"IV_UProd_Em\": 0,\n          \"A_P\": 0,\n          \"IV_UHoldWP_Em\": 0,\n          \"A_IWP\": 0,\n          \"IV_UHoldWR_Em\": 0,\n          \"A_IWR\": 0\n        }\n      },\n      \"months\": [\n        {\n          \"index\": 1,\n          \"name\": \"janvier\",\n          \"label\": \"Janvier\",\n          \"demand\": 1000,\n          \"demandHistory\": 0\n        },{\n          \"index\": 2,\n          \"name\": \"fevrier\",\n          \"label\": \"Fevrier\",\n          \"demand\": 700,\n          \"demandHistory\": 0\n        },{\n          \"index\": 3,\n          \"name\": \"mars\",\n          \"label\": \"Mars\",\n          \"demand\": 0,\n          \"demandHistory\": 0\n        }\n      ],\n      \"production\": {\n        \"Prod_Cap\": 5500,\n        \"LeadProd\": 200,\n        \"VarProd\": 10,\n        \"UProd_Cost\": 0,\n        \"UProd_Em\": 0,\n        \"InvtWPB_0\": 1000,\n        \"InvtWRB_0\": 700,\n        \"WP_Cap\": 5000,\n        \"UHoldWP_Cost\": 10,\n        \"UHoldWP_Em\": 20\n      },\n      \"distribution\": {\n        \"UAir_Cost\": 1,\n        \"Cont_Cost\": 2,\n        \"Cont_Cap\": 2,\n        \"UAir_Em\": 2,\n        \"Cont_Em\": 0\n      },\n      \"sales\": {\n        \"WR_Cap\": 5500,\n        \"UHoldWR_Cost\": 30,\n        \"UHoldWR_Em\": 50,\n        \"DeltaPrice\": 10,\n        \"InitialPrice\": 10,\n        \"MarketType\": \"string\",\n        \"DemandType\": \"string\",\n        \"PED\": 10\n      },\n      \"advertisements\": [\n        {\n          \"option\": 1,\n          \"Yield_Impact\": 1000,\n          \"Budget\": 5000,\n          \"Comment\": \"adv 1\"\n        },{\n          \"option\": 2,\n          \"Yield_Impact\": 1100,\n          \"Budget\": 6000,\n          \"Comment\": \"adv 2\"\n        },\n      ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["f6c8bfb8.a3bf"]]},{"id":"f6c8bfb8.a3bf","type":"http request","z":"b76ca7a8.f03538","name":"","method":"POST","ret":"obj","url":"","tls":"","x":480,"y":180,"wires":[["93d4f55e.1b8008"]]},{"id":"93d4f55e.1b8008","type":"function","z":"b76ca7a8.f03538","name":"get game_id","func":"msg.game_id = msg.payload.GameId\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["5deeb939.6b4478","ca7840c6.94f1e"]]},{"id":"aa974cc8.2bb1a","type":"function","z":"b76ca7a8.f03538","name":"create teams","func":"msg.url = \"https://edugame.tekos.co/game/\"+msg.game_id+\"/teams\"\n\n// get list of team from chuncks\nlet rooms = msg.payload.chunk\nlet teams = []\nfor(let i=0;i<rooms.length;i++){\n    teams.push({\n        \"name\": rooms[i].name,\n        \"description\": rooms[i].room_id,\n        \"players\": {\n          \"production\": \"string\",\n          \"distribution\": \"string\",\n          \"sales\": \"string\",\n          \"manager\": \"string\"\n        }    \n    })\n}\n\nmsg.payload = teams\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["c2df849d.0026a8"]]},{"id":"c2df849d.0026a8","type":"http request","z":"b76ca7a8.f03538","name":"","method":"POST","ret":"obj","url":"","tls":"","x":520,"y":400,"wires":[["3ae53b09.1086c4"]]},{"id":"57c0e2f.adaa31c","type":"inject","z":"b76ca7a8.f03538","name":"","topic":"","payload":"{\"group_name\":\"+game1:matrix.tekos.co\",\"game\":\"game1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["5c8a0e34.68fbf"]]},{"id":"3ae53b09.1086c4","type":"debug","z":"b76ca7a8.f03538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":400,"wires":[]},{"id":"7ae7085.d22abf8","type":"debug","z":"b76ca7a8.f03538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":300,"wires":[]},{"id":"ca7840c6.94f1e","type":"debug","z":"b76ca7a8.f03538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":120,"wires":[]}]