data/flows_tekos-prod.json
[{"id":"207c204a.74ecf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1e4f00f.c6728","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b6bac427.b0b498","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"85f37c43.3824d","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f7dde57b.f97cf8","type":"matrix bot","z":"","name":"Edugame","room":"","userId":"@edubot:matrix.tekos.co","accessToken":"MDAxZGxvY2F0aW9uIG1hdHJpeC50ZWtvcy5jbwowMDEzaWRlbnRpZmllciBrZXkKMDAxMGNpZCBnZW4gPSAxCjAwMmFjaWQgdXNlcl9pZCA9IEBlZHVib3Q6bWF0cml4LnRla29zLmNvCjAwMTZjaWQgdHlwZSA9IGFjY2VzcwowMDIxY2lkIG5vbmNlID0gdHo5U1ZLQXMrO3JtMUxONQowMDJmc2lnbmF0dXJlIP8yZLJZKCbWsAHNnEm5SN4zQ6YHD5ze3ZcKF8nJj1iOCg","matrixServerURL":"https://m.tekos.co"},{"id":"2729434d.5aa7ac","type":"matrix receiver","z":"207c204a.74ecf","name":"","bot":"f7dde57b.f97cf8","x":150,"y":60,"wires":[["9add41c1.09aeb"]]},{"id":"ef739a8b.4439f8","type":"matrix sender","z":"207c204a.74ecf","name":"","bot":"f7dde57b.f97cf8","x":1030,"y":140,"wires":[]},{"id":"49c374c2.201aec","type":"switch","z":"207c204a.74ecf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"},{"t":"eq","v":"start","vt":"str"},{"t":"eq","v":"learn more","vt":"str"},{"t":"eq","v":"show boards","vt":"str"},{"t":"eq","v":"form","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":460,"y":420,"wires":[["417a2406.778a8c"],["dc8c9a0d.4700a8"],[],["80335149.6d431"],["aad6bd4b.a2627","c816a2aa.655e4"]]},{"id":"deb13450.fabbc8","type":"function","z":"207c204a.74ecf","name":"listen token","func":"global.set('listener_'+msg.senderId, 'token')\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":240,"wires":[[]]},{"id":"cd25fa9c.551d48","type":"switch","z":"207c204a.74ecf","name":"","property":"listener","propertyType":"msg","rules":[{"t":"eq","v":"token","vt":"str"},{"t":"eq","v":"community","vt":"str"},{"t":"eq","v":"complete_team_add","vt":"str"},{"t":"eq","v":"create_game","vt":"str"},{"t":"eq","v":"stage_period","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":280,"y":220,"wires":[["8b919110.46c77"],["bcf8033b.0f721"],["67a3ac90.4fa174"],["310df88d.9a0c18"],["d1d38512.99c188"],["49c374c2.201aec"]]},{"id":"9add41c1.09aeb","type":"function","z":"207c204a.74ecf","name":"","func":"msg.senderId = msg.senderId.replace(/\\./g,'_')\n//global.set('listener_'+msg.senderId,null)\nmsg.listener = global.get('listener_'+msg.senderId)\nlet keywords = ['hello','start']\n\nif(keywords.indexOf(msg.payload) > -1){\n    msg.listener = null\n    global.set('listener_'+msg.senderId,null)\n}\n\nmsg.bot_token = 'MDAxZGxvY2F0aW9uIG1hdHJpeC50ZWtvcy5jbwowMDEzaWRlbnRpZmllciBrZXkKMDAxMGNpZCBnZW4gPSAxCjAwMmFjaWQgdXNlcl9pZCA9IEBlZHVib3Q6bWF0cml4LnRla29zLmNvCjAwMTZjaWQgdHlwZSA9IGFjY2VzcwowMDIxY2lkIG5vbmNlID0gdHo5U1ZLQXMrO3JtMUxONQowMDJmc2lnbmF0dXJlIP8yZLJZKCbWsAHNnEm5SN4zQ6YHD5ze3ZcKF8nJj1iOCg'\nglobal.set('bot_token',msg.bot_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["cd25fa9c.551d48","82441fc7.fa996"]]},{"id":"396319d8.548776","type":"link in","z":"207c204a.74ecf","name":"out","links":["b77fa3ff.cf3c","ef9d167e.4b9108","66549454.3c6aac","9a2be72.4319d18","3171e13e.241b4e","ab87d129.e2683","a15e181c.947138","d1baf3ff.7481d","1d865028.48a7a","c94e6f19.c3825"],"x":875,"y":100,"wires":[["ef739a8b.4439f8"]]},{"id":"8b919110.46c77","type":"link out","z":"207c204a.74ecf","name":"l_token","links":["7754403e.50468","98e34f26.49e73"],"x":455,"y":140,"wires":[]},{"id":"bcf8033b.0f721","type":"link out","z":"207c204a.74ecf","name":"l_community","links":["55b36e87.e59c7","9c72b734.654378","9dbff7fe.757f78"],"x":435,"y":180,"wires":[]},{"id":"310df88d.9a0c18","type":"link out","z":"207c204a.74ecf","name":"l_create_game","links":["c966bede.82398","ccb83350.46ec1"],"x":415,"y":220,"wires":[]},{"id":"a46f6ee6.ad47b","type":"link in","z":"f1e4f00f.c6728","name":"e_show_boards","links":["80335149.6d431"],"x":115,"y":260,"wires":[["3cce543.7ffa4ac"]]},{"id":"357eb60e.8ec27a","type":"link out","z":"f1e4f00f.c6728","name":"","links":[],"x":775,"y":260,"wires":[]},{"id":"3cce543.7ffa4ac","type":"function","z":"f1e4f00f.c6728","name":"","func":"let rooms = global.get('rooms_'+msg.senderId)\n// send message for each user , need to create payload with roomID\nmsg.payload = []\nfor(let i=0;i<rooms.length;i++){\n    msg.payload.push(Object.assign(rooms[i],{roomId: rooms[i].description}))\n}\nreturn msg;","outputs":1,"noerr":0,"x":265,"y":220,"wires":[["a1655705.315648","7c5c839c.c8ecdc"]]},{"id":"a1655705.315648","type":"debug","z":"f1e4f00f.c6728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":140,"wires":[]},{"id":"7c5c839c.c8ecdc","type":"splitter","z":"f1e4f00f.c6728","name":"","property":"payload","x":425,"y":240,"wires":[["4a37c607.b874c8","b0af9471.ca1118"]]},{"id":"80335149.6d431","type":"link out","z":"207c204a.74ecf","name":"l_show_boards","links":["a46f6ee6.ad47b"],"x":615,"y":260,"wires":[]},{"id":"a4ab6e72.ec481","type":"link out","z":"f1e4f00f.c6728","name":"","links":[],"x":735,"y":180,"wires":[]},{"id":"4a37c607.b874c8","type":"debug","z":"f1e4f00f.c6728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":320,"wires":[]},{"id":"b0af9471.ca1118","type":"chatbot-message","z":"f1e4f00f.c6728","name":"","message":[{"message":"welcome to edu game."}],"x":620,"y":220,"wires":[["a4ab6e72.ec481"]]},{"id":"23caae43.d72d42","type":"function","z":"b6bac427.b0b498","name":"create query","func":"let team = msg.team\nmsg.url = \"https://edugraphs.tekos.co/api/queries?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"is_draft\":false,\"schedule\":null,\"query\":\"{\\n    \\\"collection\\\": \\\"periods\\\",\\n    \\\"aggregate\\\": \\n                [{\\n                    \\\"$lookup\\\": {\\n                        \\\"from\\\": \\\"playerproductions\\\",\\n                        \\\"localField\\\": \\\"_id\\\",\\n                        \\\"foreignField\\\": \\\"month\\\",\\n                        \\\"as\\\": \\\"playerValues\\\"\\n                    }\\n                }, {\\n                    \\\"$unwind\\\": {\\n                        \\\"path\\\": \\\"$playerValues\\\",\\n                        \\\"preserveNullAndEmptyArrays\\\": true\\n                    }\\n                }, {\\n                    \\\"$match\\\": {\\n                        \\n                        \\\"playerValues.team\\\": \\\"\"+team+\"\\\"\\n                    }\\n                }]\\n}\\n\",\"name\":team,\"data_source_id\":1,\"options\":{\"parameters\":[]}}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":360,"wires":[["b0886a21.6332f8"]]},{"id":"917f8c08.8dda2","type":"function","z":"b6bac427.b0b498","name":"create dashboard","func":"msg.url = \"https://edugraphs.tekos.co/api/dashboards?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet team = msg.team\nmsg.payload = {\"name\":team,\"is_draft\":false}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":860,"wires":[["b7103194.b4593"]]},{"id":"f8071095.6cd03","type":"function","z":"b6bac427.b0b498","name":"add widget p-invt","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production_inventory//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\n\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":0,\"row\":0}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1020,"wires":[["b68e4105.69e3c"]]},{"id":"3470caba.dc5476","type":"function","z":"b6bac427.b0b498","name":"production-inventory","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"description\":\"\", \"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":null,\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"area\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.InvtWPB_i\":{\"zIndex\":0,\"index\":0,\"type\":\"area\",\"name\":\"Inventory WPB\",\"yAxis\":0},\"playerValues.InvtWPE_i\":{\"zIndex\":1,\"index\":0,\"type\":\"area\",\"name\":\"Inventory WPE\",\"yAxis\":0}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"name\":\"unused\",\"label\":\"x\",\"game\":\"unused\",\"playerValues.InvtWPB_i\":\"y\",\"playerValues.HoldCost\":\"unused\",\"playerValues.month\":\"unused\",\"playerValues.InvtWPE_i\":\"y\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Production Inventory\",\n\"query_id\":msg.query_id}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["bf1be7d0.61e938"]]},{"id":"dfe6ea27.42c588","type":"function","z":"b6bac427.b0b498","name":"retail-inventory","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_ids = [msg.payload.id]\nmsg.viz_production_inventory = msg.payload.id\nmsg.payload = {\"type\":\"CHART\",\"name\":\"Retail Inventory\",\"description\":\"\",\"options\":{\"globalSeriesType\":\"area\",\"sortX\":false,\"legend\":{\"enabled\":true},\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"xAxis\":{\"type\":\"category\",\"labels\":{\"enabled\":true}},\"error_y\":{\"type\":\"data\",\"visible\":true},\"series\":{\"stacking\":null,\"error_y\":{\"type\":\"data\",\"visible\":true},\"percentValues\":false},\"seriesOptions\":{\"playerValues.InvtWRB_i\":{\"type\":\"area\",\"yAxis\":0,\"zIndex\":0,\"index\":0,\"name\":\"Invt WRB\"},\"playerValues.InvtWRE_i\":{\"type\":\"area\",\"yAxis\":0,\"zIndex\":1,\"index\":0,\"name\":\"Invt WRE\"}},\"columnMapping\":{\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.month\":\"unused\",\"label\":\"x\",\"name\":\"unused\",\"index\":\"unused\",\"demandHistory\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.HoldCost\":\"unused\",\"playerValues.InvtWRE_i\":\"y\",\"playerValues.InvtWRB_i\":\"y\"},\"defaultColumns\":3,\"defaultRows\":8,\"minColumns\":1,\"minRows\":5,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\"},\n\"query_id\":msg.query_id}\n// add the previous visualization _id to a table\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[["de3ad50c.3a73f8"]]},{"id":"88eda4c7.6ef598","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":540,"y":440,"wires":[["3470caba.dc5476"]]},{"id":"bf1be7d0.61e938","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":800,"y":540,"wires":[["dfe6ea27.42c588"]]},{"id":"f4d02786.582e58","type":"function","z":"b6bac427.b0b498","name":"production","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_ids.push(msg.payload.id)\nmsg.viz_retail_invt = msg.payload.id\nmsg.payload = {\"type\":\"CHART\",\"name\":\"Production\",\"description\":\"\",\"options\":{\"globalSeriesType\":\"column\",\"sortX\":false,\"legend\":{\"enabled\":true},\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"xAxis\":{\"type\":\"category\",\"labels\":{\"enabled\":true}},\"error_y\":{\"type\":\"data\",\"visible\":true},\"series\":{\"stacking\":null,\"error_y\":{\"type\":\"data\",\"visible\":true},\"percentValues\":false},\"seriesOptions\":{\"playerValues.Qt\":{\"type\":\"column\",\"yAxis\":0,\"zIndex\":0,\"index\":0,\"name\":\"Production\"}},\"columnMapping\":{\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.month\":\"unused\",\"label\":\"x\",\"name\":\"unused\",\"index\":\"unused\",\"demandHistory\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.HoldCost\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.Qt\":\"y\"},\"defaultColumns\":3,\"defaultRows\":8,\"minColumns\":1,\"minRows\":5,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\"},\n\"query_id\":msg.query_id}\n// add the previous visualization _id to a table\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":640,"wires":[["febbf360.5b64a"]]},{"id":"c89abf06.da1a5","type":"function","z":"b6bac427.b0b498","name":"production-cost","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_production = msg.payload.id\nmsg.payload = {\"description\":\"\",\"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":\"stack\",\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"column\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.ProdCost\":{\"zIndex\":0,\"index\":0,\"type\":\"column\",\"name\":\"Prod Cost\",\"yAxis\":0},\"playerValues.InvtWR_HoldingCost\":{\"zIndex\":2,\"index\":0,\"type\":\"column\",\"name\":\"WR Holding Cost\",\"yAxis\":0},\"playerValues.InvtWP_HoldingCost\":{\"zIndex\":1,\"index\":0,\"type\":\"column\",\"name\":\"WP Holding Cost\",\"yAxis\":0}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"playerValues.month\":\"unused\",\"name\":\"unused\",\"playerValues.Qt\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"label\":\"x\",\"playerValues.HoldCost\":\"unused\",\"game\":\"unused\",\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.ProdCost\":\"y\",\"playerValues.InvtWR_HoldingCost\":\"y\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.InvtWP_HoldingCost\":\"y\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Production Cost\",\n\"query_id\":msg.query_id}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["e3668b87.ec1498"]]},{"id":"90ac115a.3c838","type":"function","z":"b6bac427.b0b498","name":"distribution-cost","func":"\nmsg.url = \"https://edugraphs.tekos.co/api/visualizations?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.viz_production_cost = msg.payload.id\nmsg.payload = {\"description\":\"\",\"type\":\"CHART\",\"options\":{\"error_y\":{\"visible\":true,\"type\":\"data\"},\"minColumns\":1,\"series\":{\"stacking\":\"stack\",\"percentValues\":false,\"error_y\":{\"visible\":true,\"type\":\"data\"}},\"globalSeriesType\":\"column\",\"yAxis\":[{\"type\":\"linear\"},{\"type\":\"linear\",\"opposite\":true}],\"minRows\":5,\"seriesOptions\":{\"playerValues.Sea_Cost\":{\"zIndex\":1,\"index\":0,\"type\":\"column\",\"yAxis\":0,\"name\":\"Sea Cost\",\"color\":\"#00B6EB\"},\"playerValues.Air_Cost\":{\"zIndex\":0,\"index\":0,\"type\":\"column\",\"yAxis\":0,\"name\":\"Air Cost\",\"color\":\"#C63FA9\"}},\"sortX\":false,\"defaultColumns\":3,\"xAxis\":{\"labels\":{\"enabled\":true},\"type\":\"category\"},\"columnMapping\":{\"index\":\"unused\",\"demandHistory\":\"unused\",\"playerValues.month\":\"unused\",\"name\":\"unused\",\"playerValues.Qt\":\"unused\",\"playerValues.InvtWRE_i\":\"unused\",\"playerValues.Air_Cost\":\"y\",\"label\":\"x\",\"playerValues.HoldCost\":\"unused\",\"game\":\"unused\",\"playerValues.Sea_Cost\":\"y\",\"playerValues.InvtWPB_i\":\"unused\",\"playerValues.ProdCost\":\"unused\",\"playerValues.InvtWR_HoldingCost\":\"unused\",\"playerValues.InvtWRB_i\":\"unused\",\"playerValues.InvtWPE_i\":\"unused\",\"playerValues.InvtWP_HoldingCost\":\"unused\"},\"defaultRows\":8,\"customCode\":\"// Available variables are x, ys, element, and Plotly\\n// Type console.log(x, ys); for more info about x and ys\\n// To plot your graph call Plotly.plot(element, ...)\\n// Plotly examples and docs: https://plot.ly/javascript/\",\"legend\":{\"enabled\":true}},\"name\":\"Distribution Cost\",\n\"query_id\":msg.query_id}\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["6d4206e1.d19f98"]]},{"id":"de3ad50c.3a73f8","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":760,"y":600,"wires":[["f4d02786.582e58"]]},{"id":"febbf360.5b64a","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":740,"y":640,"wires":[["c89abf06.da1a5"]]},{"id":"e3668b87.ec1498","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":760,"y":680,"wires":[["90ac115a.3c838"]]},{"id":"6d4206e1.d19f98","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":780,"y":740,"wires":[["8d681c07.0c44b"]]},{"id":"8d681c07.0c44b","type":"function","z":"b6bac427.b0b498","name":"save viz_id","func":"msg.viz_ids.push(msg.payload.id)\nmsg.viz_distribution_cost = msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["917f8c08.8dda2"]]},{"id":"2d69fb9b.59b894","type":"function","z":"b6bac427.b0b498","name":"execute","func":"let query_id = msg.payload.id\nmsg.query_id=query_id\nmsg.url = \"https://edugraphs.tekos.co/api/query_results?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload = {\"data_source_id\":1,\n                \"query\":\"{ \\\"collection\\\": \\\"playerproductions\\\", \\\"query\\\": {    \\\"team\\\": \\\"teamg1\\\"    }, \\\"fields\\\": {\\\"month\\\":1,\\\"InvtWPB_i\\\":2,\\\"InvtWRB_i\\\":3}  }\",\"max_age\":0,\n                \"query_id\":query_id}\n                \n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["88eda4c7.6ef598"]]},{"id":"b0886a21.6332f8","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":420,"y":340,"wires":[["2d69fb9b.59b894","43319617.7d8038"]]},{"id":"199b8709.db1549","type":"inject","z":"b6bac427.b0b498","name":"","topic":"","payload":"{\"team\":\"team_a4\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["90379dcc.24f42"]]},{"id":"2d85e509.ff336a","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":660,"y":960,"wires":[["f8071095.6cd03"]]},{"id":"b68e4105.69e3c","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":620,"y":1020,"wires":[["5ef6d3e.c319c2c"]]},{"id":"5ef6d3e.c319c2c","type":"function","z":"b6bac427.b0b498","name":"add widget retail-invt","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_retail_invt//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":0}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1080,"wires":[["4dbe87fe.722658"]]},{"id":"4dbe87fe.722658","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":720,"y":1080,"wires":[["1683228f.d39ffd"]]},{"id":"43319617.7d8038","type":"function","z":"b6bac427.b0b498","name":"publish query","func":"let query_id = msg.payload.id\n\nmsg.query_id =query_id\nmsg.url = \"https://edugraphs.tekos.co/api/queries/\"+query_id+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nmsg.payload = {\"is_draft\":false,\"id\":query_id,\"version\":1}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["fa2661e9.58c84"]]},{"id":"fa2661e9.58c84","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":900,"y":320,"wires":[[]]},{"id":"8703da7c.a1de88","type":"function","z":"b6bac427.b0b498","name":"publish dashboard","func":"let dashboard_id = msg.payload.id\nmsg.dashboard_id = dashboard_id\n\nmsg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+dashboard_id+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nmsg.payload = {\"slug\":dashboard_id,\"name\":msg.team,\"is_draft\":false}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":960,"wires":[["2d85e509.ff336a"]]},{"id":"b7103194.b4593","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":600,"y":840,"wires":[["8703da7c.a1de88"]]},{"id":"82dc8366.1c04d","type":"function","z":"b6bac427.b0b498","name":"share url","func":"let dashboard_id = msg.dashboard_id\nmsg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+dashboard_id+\"/share?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1360,"wires":[["f731b186.0301b"]]},{"id":"f731b186.0301b","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":580,"y":1360,"wires":[["9326728e.f9324","e719c0ee.a4ea1"]]},{"id":"90379dcc.24f42","type":"function","z":"b6bac427.b0b498","name":"fetch dashboard","func":"msg.url = \"https://edugraphs.tekos.co/api/dashboards/\"+msg.payload.team+\"?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.team = msg.payload.team\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["4f801a51.bc8b54"]]},{"id":"4f801a51.bc8b54","type":"http request","z":"b6bac427.b0b498","name":"","method":"GET","ret":"obj","url":"","tls":"","x":560,"y":160,"wires":[["2a3c2feb.ed534"]]},{"id":"2a3c2feb.ed534","type":"switch","z":"b6bac427.b0b498","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"eq","v":"404","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":160,"wires":[["fe5c1b37.c1dc98"],["23caae43.d72d42"]]},{"id":"fe5c1b37.c1dc98","type":"debug","z":"b6bac427.b0b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":120,"wires":[]},{"id":"9326728e.f9324","type":"function","z":"b6bac427.b0b498","name":"query results","func":"let team = msg.team\nlet query_id = msg.query_id\nmsg.url = \"https://edugraphs.tekos.co/api/query_results?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nmsg.payload= {\"data_source_id\":1,\"query\":\"{\\n    \\\"collection\\\": \\\"periods\\\",\\n    \\\"aggregate\\\": \\n                [{\\n                    \\\"$lookup\\\": {\\n                        \\\"from\\\": \\\"playerproductions\\\",\\n                        \\\"localField\\\": \\\"_id\\\",\\n                        \\\"foreignField\\\": \\\"month\\\",\\n                        \\\"as\\\": \\\"playerValues\\\"\\n                    }\\n                }, {\\n                    \\\"$unwind\\\": {\\n                        \\\"path\\\": \\\"$playerValues\\\",\\n                        \\\"preserveNullAndEmptyArrays\\\": true\\n                    }\\n                }, {\\n                    \\\"$match\\\": {\\n                        \\n                        \\\"playerValues.team\\\": \\\"\"+team+\"\\\"\\n                    }\\n                }]\\n}\\n\",\"query_id\":query_id}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1440,"wires":[["c2d0695f.919c88"]]},{"id":"c2d0695f.919c88","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":540,"y":1440,"wires":[[]]},{"id":"1683228f.d39ffd","type":"function","z":"b6bac427.b0b498","name":"add widget production","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production//msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":8}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1140,"wires":[["46055d25.66f454"]]},{"id":"46055d25.66f454","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":700,"y":1140,"wires":[["826ec003.8178d"]]},{"id":"c5ea2f2b.13077","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":680,"y":1200,"wires":[["ca2fed1b.8c13b"]]},{"id":"826ec003.8178d","type":"function","z":"b6bac427.b0b498","name":"add production cost","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_production_cost //msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":3,\"row\":8}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1200,"wires":[["c5ea2f2b.13077"]]},{"id":"ca2fed1b.8c13b","type":"function","z":"b6bac427.b0b498","name":"add distribution cost","func":"msg.url = \"https://edugraphs.tekos.co/api/widgets?api_key=3QKu55P7Q2CVX1s4Wo9rOiyLm9lYVIJAQzBmyqIy\"\nlet dashboard_id = msg.dashboard_id\nlet visualization_id = msg.viz_distribution_cost //msg.payload.v_id // to fix\n// get visualisation id and dashboard id\nmsg.payload = {\"options\":{\"isHidden\":false,\"position\":{\"autoHeight\":false,\"sizeX\":3,\"sizeY\":8,\"minSizeX\":1,\"maxSizeX\":6,\"minSizeY\":5,\"maxSizeY\":1000,\"col\":0,\"row\":16}},\"text\":\"\",\n\"width\":1,\"dashboard_id\":dashboard_id,\"visualization_id\":visualization_id}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1260,"wires":[["5a706425.0869ec"]]},{"id":"5a706425.0869ec","type":"http request","z":"b6bac427.b0b498","name":"","method":"POST","ret":"obj","url":"","tls":"","x":680,"y":1260,"wires":[["82dc8366.1c04d"]]},{"id":"e719c0ee.a4ea1","type":"debug","z":"b6bac427.b0b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1360,"wires":[]},{"id":"82441fc7.fa996","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":350,"y":40,"wires":[]},{"id":"88df2c6a.49a08","type":"function","z":"207c204a.74ecf","name":"","func":"msg.payload = {\n   \"body\": \"hello\",\n   \"msgtype\": \"m.text\",\n   \"titleform\":\"Ice Cream Delivery\",\n   \"posturl\":\"https://go.test.tekosflow.com/input\",\n   \"buttontitle\":\"Click to command\",\n   \"tekosform\":[           {\n           \"type\": \"input\",\n           \"subtype\": \"text\",\n            \"label\": \"label\",\n            \"key\": \"password\",\n            \"props\":{\"required\":true}\n          },\n             {\n             \"type\": \"select\",\n             \"subtype\": \"select\",\n             \"label\": \"Select your flavor\",\n             \"multiple\": true,\n             \"key\": \"icecream\",\n             \"props\":{\"required\":true},\n             \"options\": [\n               {\"value\": \"chocolate\", \"label\": \"Chocolate\"},\n               {\"value\": \"strawberry\", \"label\": \"Strawberry\"},\n               {\"value\": \"vanilla\", \"label\": \"Vanilla\"}\n             ]\n          },\n           {\n             \"type\": \"select\",\n             \"subtype\": \"select\",\n             \"label\": \"Select topping\",\n             \"multiple\": true,\n             \"key\": \"topping\",\n             \"props\":{\"required\":true},\n             \"options\": [\n               {\"value\": \"hazelnut\", \"label\": \"Hazelnut\"},\n               {\"value\": \"amonds\", \"label\": \"Amonds\"},\n               {\"value\": \"choclatesauce\", \"label\": \"Choclate Sauce\"}\n             ]\n          }\n       \n       ]\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"x":970,"y":400,"wires":[[]]},{"id":"aad6bd4b.a2627","type":"form","z":"207c204a.74ecf","name":"","title":"","subtitle":"please fill the blanks","formId":"form","posturl":"/input","action":"Submit","cancel":"Cancel","options":[{"label":"Text","value":"text","type":"text","list":"","required":false},{"label":"List","value":"list","type":"list","list":"op1:op1,op2:op2","required":false}],"formValue":{"text":"","list":""},"payload":"","topic":"","x":710,"y":380,"wires":[["add5fa2c.926488"]]},{"id":"add5fa2c.926488","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":340,"wires":[]},{"id":"c816a2aa.655e4","type":"function","z":"207c204a.74ecf","name":"","func":"msg.payload = {\n    \"type\":\"form\",\n    \"form\":{\n        \"id\":\"form\",\n        \"title\":\"\",\n        \"message\":\"Submit\",\n        \"cancel\":\"Cancel\",\n        \"posturl\":\"https://go.test.tekosflow.com/input\",\n        \"listen\":\"chat/formId\",\n        \"action\":\"form\",\n        \"subtitle\":\"please fill the blanks\",\n        \"inputs\":[\n            {\n                \"type\":\"input\",\n                \"subtype\":\"text\",\n                \"label\":\"Text\",\n                \"name\":\"text\",\n                \n            },{\n                \"type\":\"editor\",\n                \"subtype\":\"text\",\n                \"label\":\"Code\",\n                \"name\":\"code\",\n                \n            },\n            {\"type\":\"select\",\n              \"subtype\":\"select\",\n              \"label\":\"List\",\n              \"name\":\"list\",\n              \"multi\": true,\n              \"options\":\n                [{\"value\":\"opt1\",\"label\":\"opt11\"},{\"value\":\"op2\",\"label\":\"opt2\"}]\n                \n            }\n          ]\n        \n        },\n        \"form_data\":{}}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["ef739a8b.4439f8"]]},{"id":"7769ebe8.16cf14","type":"http in","z":"207c204a.74ecf","name":"","url":"/input_game","method":"post","upload":false,"swaggerDoc":"","x":350,"y":1300,"wires":[["3593c56.52e523a","e05be989.79e7c8"]]},{"id":"3593c56.52e523a","type":"function","z":"207c204a.74ecf","name":"create game","func":"msg.url = 'https://edugame.tekos.co/game/inputs'\nmsg.senderId = msg.payload.senderId\nmsg.roomId = msg.payload.roomId\nmsg.payload = JSON.parse(msg.payload.code)\n\nmsg.game_name = msg.payload.game.name\nmsg.payload.game.name = msg.payload.game.name.split(':')[0].replace('+','')\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1300,"wires":[["9ff55daf.509b5"]]},{"id":"995495db.996308","type":"http response","z":"207c204a.74ecf","name":"","statusCode":"","headers":{},"x":1270,"y":1320,"wires":[]},{"id":"e05be989.79e7c8","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":1360,"wires":[]},{"id":"417a2406.778a8c","type":"link out","z":"207c204a.74ecf","name":"l_welcome","links":["82a6d0db.6f4f7"],"x":615,"y":200,"wires":[]},{"id":"82a6d0db.6f4f7","type":"link in","z":"207c204a.74ecf","name":"e_welcome","links":["417a2406.778a8c"],"x":215,"y":640,"wires":[["a6d9968c.433828"]]},{"id":"66549454.3c6aac","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":935,"y":640,"wires":[]},{"id":"e9869ad6.ba71a8","type":"function","z":"85f37c43.3824d","name":"add_user_token","func":"global.set('token_'+msg.senderId,msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["b65ced26.6286f"]]},{"id":"b65ced26.6286f","type":"chatbot-message","z":"85f37c43.3824d","name":"","message":[{"message":"Your token has been submitted, Now you need to create a community and a list of rooms containing the teams names. then insert the community name"}],"x":660,"y":240,"wires":[["9a2be72.4319d18","87b31290.83029"]]},{"id":"9a2be72.4319d18","type":"link out","z":"85f37c43.3824d","name":"add_token","links":["396319d8.548776"],"x":1015,"y":300,"wires":[]},{"id":"98e34f26.49e73","type":"link in","z":"85f37c43.3824d","name":"e_token","links":["8b919110.46c77"],"x":235,"y":240,"wires":[["e9869ad6.ba71a8"]]},{"id":"4de42c28.01f2a4","type":"comment","z":"85f37c43.3824d","name":"show boards in rooms","info":"","x":350,"y":440,"wires":[]},{"id":"87b31290.83029","type":"function","z":"85f37c43.3824d","name":"listen token","func":"global.set('listener_'+msg.senderId, 'community')\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":240,"wires":[[]]},{"id":"ccb83350.46ec1","type":"link in","z":"85f37c43.3824d","name":"e_create_game","links":["310df88d.9a0c18"],"x":235,"y":500,"wires":[["a971af05.acb3a"]]},{"id":"a971af05.acb3a","type":"switch","z":"85f37c43.3824d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":500,"wires":[["fba87702.a67178"],["824e443.ee2afb8"]]},{"id":"fc6f19bd.77ee38","type":"inject","z":"85f37c43.3824d","name":"","topic":"","payload":"{\"group_name\":\"+game1:matrix.tekos.co\",\"game\":\"game1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":420,"wires":[["fba87702.a67178"]]},{"id":"3e935c27.eec964","type":"function","z":"85f37c43.3824d","name":"get rooms in community","func":"let group_id = encodeURIComponent(msg.group_id)\n\nmsg.access_token = global.get('token_'+msg.senderId)\nmsg.url = \"https://matrix.tekos.co/_matrix/client/r0/groups/\"+group_id+\"/rooms?access_token=\"+msg.access_token\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":620,"wires":[["b97ac510.b84d18"]]},{"id":"b97ac510.b84d18","type":"http request","z":"85f37c43.3824d","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1080,"y":620,"wires":[["96061113.d6148"]]},{"id":"fba87702.a67178","type":"function","z":"85f37c43.3824d","name":"create game","func":"msg.url = \"https://edugame.tekos.co/game/inputs\"\nmsg.group_id = global.get('community_'+msg.senderId)\n// msg.group_id = msg.payload.group_name\nlet game_name = msg.group_id.split(':')[0].replace('+','')\nmsg.payload = \n    {\n      \"game\": {\n        \"name\": game_name,\n        \"InitialBudget\": 0,\n        \"InventoryAffectSales\": true,\n        \"carbon_policy\": {\n          \"Option\": 0,\n          \"Carbon_Tax\": 0,\n          \"Carbon_Cap\": 0,\n          \"Penalty\": 0\n        },\n        \"investment_options\": {\n          \"IV_UProd_Em\": 0,\n          \"A_P\": 0,\n          \"IV_UHoldWP_Em\": 0,\n          \"A_IWP\": 0,\n          \"IV_UHoldWR_Em\": 0,\n          \"A_IWR\": 0\n        }\n      },\n      \"months\": [\n        {\n          \"index\": 1,\n          \"name\": \"janvier\",\n          \"label\": \"Janvier\",\n          \"demand\": 1000,\n          \"demandHistory\": 0\n        },{\n          \"index\": 2,\n          \"name\": \"fevrier\",\n          \"label\": \"Fevrier\",\n          \"demand\": 700,\n          \"demandHistory\": 0\n        },{\n          \"index\": 3,\n          \"name\": \"mars\",\n          \"label\": \"Mars\",\n          \"demand\": 0,\n          \"demandHistory\": 0\n        }\n      ],\n      \"production\": {\n        \"Prod_Cap\": 5500,\n        \"LeadProd\": 200,\n        \"VarProd\": 10,\n        \"UProd_Cost\": 0,\n        \"UProd_Em\": 0,\n        \"InvtWPB_0\": 1000,\n        \"InvtWRB_0\": 700,\n        \"WP_Cap\": 5000,\n        \"UHoldWP_Cost\": 10,\n        \"UHoldWP_Em\": 20\n      },\n      \"distribution\": {\n        \"UAir_Cost\": 1,\n        \"Cont_Cost\": 2,\n        \"Cont_Cap\": 2,\n        \"UAir_Em\": 2,\n        \"Cont_Em\": 0\n      },\n      \"sales\": {\n        \"WR_Cap\": 5500,\n        \"UHoldWR_Cost\": 30,\n        \"UHoldWR_Em\": 50,\n        \"DeltaPrice\": 10,\n        \"InitialPrice\": 10,\n        \"MarketType\": \"string\",\n        \"DemandType\": \"string\",\n        \"PED\": 10\n      },\n      \"advertisements\": [\n        {\n          \"option\": 1,\n          \"Yield_Impact\": 1000,\n          \"Budget\": 5000,\n          \"Comment\": \"adv 1\"\n        },{\n          \"option\": 2,\n          \"Yield_Impact\": 1100,\n          \"Budget\": 6000,\n          \"Comment\": \"adv 2\"\n        },\n      ]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["91271b21.12b548"]]},{"id":"91271b21.12b548","type":"http request","z":"85f37c43.3824d","name":"","method":"POST","ret":"obj","url":"","tls":"","x":980,"y":500,"wires":[["9052c3c8.52e69"]]},{"id":"9052c3c8.52e69","type":"function","z":"85f37c43.3824d","name":"get game_id","func":"msg.game_id = msg.payload.GameId\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":500,"wires":[["3e935c27.eec964"]]},{"id":"96061113.d6148","type":"function","z":"85f37c43.3824d","name":"create teams","func":"msg.url = \"https://edugame.tekos.co/game/\"+msg.game_id+\"/teams\"\n\n// get list of team from chuncks\nlet rooms = msg.payload.chunk\nlet teams = []\nfor(let i=0;i<rooms.length;i++){\n    teams.push({\n        \"name\": rooms[i].name,\n        \"description\": rooms[i].room_id,\n        \"players\": {\n          \"production\": \"string\",\n          \"distribution\": \"string\",\n          \"sales\": \"string\",\n          \"manager\": \"string\"\n        }    \n    })\n}\nglobal.set('rooms_'+msg.senderId,teams)\nmsg.payload = teams\n\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":720,"wires":[["6b484ed5.0fa76"]]},{"id":"6b484ed5.0fa76","type":"http request","z":"85f37c43.3824d","name":"","method":"POST","ret":"obj","url":"","tls":"","x":1020,"y":720,"wires":[["e0c279f2.cc6878","7c47abf9.e766c4"]]},{"id":"e0c279f2.cc6878","type":"debug","z":"85f37c43.3824d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":840,"wires":[]},{"id":"7c47abf9.e766c4","type":"chatbot-inline-buttons","z":"85f37c43.3824d","name":"","buttons":[{"type":"postback","label":"Show boards in all rooms","value":"show boards","alert":false},{"type":"postback","label":"Start production","value":"start production","alert":false}],"message":"Congrats! Game was created successfully!","x":1240,"y":720,"wires":[["3171e13e.241b4e","166cdfca.b3879"]]},{"id":"3171e13e.241b4e","type":"link out","z":"85f37c43.3824d","name":"","links":["396319d8.548776"],"x":1415,"y":700,"wires":[]},{"id":"166cdfca.b3879","type":"function","z":"85f37c43.3824d","name":"listen token","func":"global.set('listener_'+msg.senderId, null)\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":760,"wires":[[]]},{"id":"824e443.ee2afb8","type":"function","z":"85f37c43.3824d","name":"listen token","func":"global.set('listener_'+msg.senderId, null)\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":560,"wires":[[]]},{"id":"a6d9968c.433828","type":"chatbot-inline-buttons","z":"207c204a.74ecf","name":"welcome","buttons":[{"type":"postback","label":"Start new game","value":"start","alert":false},{"type":"postback","label":"Learn more","value":"learn more","alert":false}],"message":"Welcome to Edugame, ","x":460,"y":640,"wires":[["66549454.3c6aac"]]},{"id":"dc8c9a0d.4700a8","type":"link out","z":"207c204a.74ecf","name":"l_start","links":["644899fc.993408"],"x":615,"y":240,"wires":[]},{"id":"644899fc.993408","type":"link in","z":"207c204a.74ecf","name":"e_start","links":["dc8c9a0d.4700a8"],"x":200,"y":800,"wires":[["2b97cf1e.13393","c37ab040.5d566","ec3c27ce.f90948","dbce5a02.75ed78","324364db.faa67c"]]},{"id":"2b97cf1e.13393","type":"chatbot-message","z":"207c204a.74ecf","name":"start","message":[{"message":"To start a new game you need to follow the steps below:"}],"x":650,"y":800,"wires":[["ab87d129.e2683"]]},{"id":"6db6962.925d468","type":"chatbot-message","z":"207c204a.74ecf","name":"step1 create community","message":[{"message":"You need to create a new community "}],"x":670,"y":860,"wires":[["ab87d129.e2683"]]},{"id":"8d0f06eb.bb4f98","type":"chatbot-message","z":"207c204a.74ecf","name":"step2 create rooms","message":[{"message":"You need to create a new rooms "}],"x":690,"y":920,"wires":[["ab87d129.e2683"]]},{"id":"63ea6eec.fbc17","type":"chatbot-message","z":"207c204a.74ecf","name":"step3 associate rooms","message":[{"message":"You need to associate the rooms with the community"}],"x":700,"y":960,"wires":[["ab87d129.e2683"]]},{"id":"c37ab040.5d566","type":"delay","z":"207c204a.74ecf","name":"0.5s","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":860,"wires":[["6db6962.925d468"]]},{"id":"ec3c27ce.f90948","type":"delay","z":"207c204a.74ecf","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":900,"wires":[["8d0f06eb.bb4f98"]]},{"id":"dbce5a02.75ed78","type":"delay","z":"207c204a.74ecf","name":"1.5s","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":960,"wires":[["63ea6eec.fbc17"]]},{"id":"ab87d129.e2683","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":975,"y":800,"wires":[]},{"id":"11403290.96809d","type":"chatbot-message","z":"207c204a.74ecf","name":"step4 insert community name","message":[{"message":"When you finish the steps above please give me the name of the community "}],"x":710,"y":1020,"wires":[["ab87d129.e2683","c7446385.cd0e6"]]},{"id":"324364db.faa67c","type":"delay","z":"207c204a.74ecf","name":"2s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1020,"wires":[["11403290.96809d"]]},{"id":"c7446385.cd0e6","type":"function","z":"207c204a.74ecf","name":"listen token","func":"global.set('listener_'+msg.senderId, 'community')\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1020,"wires":[[]]},{"id":"9dbff7fe.757f78","type":"link in","z":"207c204a.74ecf","name":"e_community","links":["bcf8033b.0f721"],"x":235,"y":1200,"wires":[["f0c57cc0.28d5c"]]},{"id":"f0c57cc0.28d5c","type":"function","z":"207c204a.74ecf","name":"add_user_community","func":"global.set('community_'+msg.senderId,msg.payload)\nglobal.set('listener_'+msg.senederId,null)\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1200,"wires":[["53c54a4a.c7e8e4"]]},{"id":"48798826.5caf78","type":"function","z":"207c204a.74ecf","name":"listen token","func":"global.set('listener_'+msg.senderId, null)\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1200,"wires":[[]]},{"id":"53c54a4a.c7e8e4","type":"function","z":"207c204a.74ecf","name":"","func":"let game_json={\n      \"game\": {\n        \"name\": \"+game3:matrix.tekos.co\",\n        \"InitialBudget\": 0,\n        \"InventoryAffectSales\": true,\n        \"carbon_policy\": {\n          \"Option\": 0,\n          \"Carbon_Tax\": 0,\n          \"Carbon_Cap\": 0,\n          \"Penalty\": 0\n        },\n        \"investment_options\": {\n          \"IV_UProd_Em\": 0,\n          \"A_P\": 0,\n          \"IV_UHoldWP_Em\": 0,\n          \"A_IWP\": 0,\n          \"IV_UHoldWR_Em\": 0,\n          \"A_IWR\": 0\n        }\n      },\n      \"months\": [\n        {\n          \"index\": 1,\n          \"name\": \"janvier\",\n          \"label\": \"Janvier\",\n          \"demand\": 1000,\n          \"demandHistory\": 0\n        },{\n          \"index\": 2,\n          \"name\": \"fevrier\",\n          \"label\": \"Fevrier\",\n          \"demand\": 700,\n          \"demandHistory\": 0\n        },{\n          \"index\": 3,\n          \"name\": \"mars\",\n          \"label\": \"Mars\",\n          \"demand\": 0,\n          \"demandHistory\": 0\n        }\n      ],\n      \"production\": {\n        \"Prod_Cap\": 5500,\n        \"LeadProd\": 200,\n        \"VarProd\": 10,\n        \"UProd_Cost\": 0,\n        \"UProd_Em\": 0,\n        \"InvtWPB_0\": 1000,\n        \"InvtWRB_0\": 700,\n        \"WP_Cap\": 5000,\n        \"UHoldWP_Cost\": 10,\n        \"UHoldWP_Em\": 20\n      },\n      \"distribution\": {\n        \"UAir_Cost\": 1,\n        \"Cont_Cost\": 2,\n        \"Cont_Cap\": 2,\n        \"UAir_Em\": 2,\n        \"Cont_Em\": 0\n      },\n      \"sales\": {\n        \"WR_Cap\": 5500,\n        \"UHoldWR_Cost\": 30,\n        \"UHoldWR_Em\": 50,\n        \"DeltaPrice\": 10,\n        \"InitialPrice\": 10,\n        \"MarketType\": \"string\",\n        \"DemandType\": \"string\",\n        \"PED\": 10\n      },\n      \"advertisements\": [\n        {\n          \"option\": 1,\n          \"Yield_Impact\": 1000,\n          \"Budget\": 5000,\n          \"Comment\": \"adv 1\"\n        },{\n          \"option\": 2,\n          \"Yield_Impact\": 1100,\n          \"Budget\": 6000,\n          \"Comment\": \"adv 2\"\n        }\n      ]\n}\n\nmsg.payload = {\n    \"type\":\"form\",\n    \"form\":{\n        \"id\":\"form\",\n        \"title\":\" Insert Game Informations\",\n        \"message\":\"Submit\",\n        \"cancel\":\"Cancel\",\n        \"posturl\":\"https://go.test.tekosflow.com/input_game\",\n        \"listen\":\"chat/formId\",\n        \"action\":\"form\",\n        \"subtitle\":\"Please fill with a json containing game input values\",\n        \"inputs\":[\n           {\n                \"type\":\"editor\",\n                \"subtype\":\"text\",\n                \"label\":\"Code\",\n                \"name\":\"code\",\n                \"mode\": \"json\",\n                \"default\": JSON.stringify(game_json)\n            }\n          ]\n        \n    },\n    \"form_data\":{\n            \n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1200,"wires":[["48798826.5caf78","a15e181c.947138"]]},{"id":"a15e181c.947138","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":975,"y":1160,"wires":[]},{"id":"ee21b9e2.ac8188","type":"function","z":"207c204a.74ecf","name":"get rooms in community","func":"\nmsg.url = \"https://m.tekos.co/_matrix/client/r0/groups/\"+msg.game_name+\"/rooms?access_token=\"+global.get('bot_token')\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1540,"wires":[["d72c18fc.078d08"]]},{"id":"d1baf3ff.7481d","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":1395,"y":1540,"wires":[]},{"id":"96d39d4b.0b296","type":"http in","z":"207c204a.74ecf","name":"","url":"/select_team","method":"post","upload":false,"swaggerDoc":"","x":370,"y":1700,"wires":[["a3aece17.446f5","98527299.bfdf9"]]},{"id":"4afbc68d.9c2b28","type":"http response","z":"207c204a.74ecf","name":"","statusCode":"","headers":{},"x":1130,"y":1680,"wires":[]},{"id":"27622412.6e7f1c","type":"chatbot-inline-buttons","z":"207c204a.74ecf","name":"add bot to rooms","buttons":[{"type":"postback","label":"Yes","value":"yes","alert":false},{"type":"postback","label":"No","value":"no","alert":false}],"message":"You need to add @edubot:matrix.tekos.co in all the rooms of the team, click Yes if this is done","x":800,"y":1780,"wires":[["1d865028.48a7a","9f02313e.2d494"]]},{"id":"1d865028.48a7a","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":1015,"y":1820,"wires":[]},{"id":"a0db61aa.1c9ac","type":"comment","z":"207c204a.74ecf","name":"bot create boards for the teams and inject them into the rooms","info":"","x":530,"y":2120,"wires":[]},{"id":"9f02313e.2d494","type":"function","z":"207c204a.74ecf","name":"listen token","func":"global.set('listener_'+msg.senderId, \"complete_team_add\")\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1760,"wires":[[]]},{"id":"67a3ac90.4fa174","type":"link out","z":"207c204a.74ecf","name":"l_complete_team_add","links":["bfe9d7b9.4572b8"],"x":435,"y":200,"wires":[]},{"id":"bfe9d7b9.4572b8","type":"link in","z":"207c204a.74ecf","name":"e_complete_team_add","links":["67a3ac90.4fa174"],"x":255,"y":1940,"wires":[["cb51c299.a25cd"]]},{"id":"c94e6f19.c3825","type":"link out","z":"207c204a.74ecf","name":"add_token","links":["396319d8.548776"],"x":1015,"y":1940,"wires":[]},{"id":"cb51c299.a25cd","type":"chatbot-message","z":"207c204a.74ecf","name":"stage period","message":[{"message":"The game will start by production stage, all the stages will take the same time, please insert a stage period"}],"x":600,"y":1940,"wires":[["c94e6f19.c3825","71c15692.c8cba8"]]},{"id":"baa3e550.c12698","type":"chatbot-inline-buttons","z":"207c204a.74ecf","name":"start a game","buttons":[{"type":"postback","label":"Yes","value":"yes","alert":false},{"type":"postback","label":"No","value":"no","alert":false}],"message":"Whould you like to start the game ?","x":420,"y":2220,"wires":[["561be0f.9637c2"]]},{"id":"71c15692.c8cba8","type":"function","z":"207c204a.74ecf","name":"listen token","func":"global.set('listener_'+msg.senderId, \"stage_period\")\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1960,"wires":[[]]},{"id":"d1d38512.99c188","type":"link out","z":"207c204a.74ecf","name":"l_stage_period","links":["d8348b2f.4c9bf8"],"x":415,"y":240,"wires":[]},{"id":"d8348b2f.4c9bf8","type":"link in","z":"207c204a.74ecf","name":"e_stage_period","links":["d1d38512.99c188"],"x":255,"y":2220,"wires":[["baa3e550.c12698"]]},{"id":"561be0f.9637c2","type":"function","z":"207c204a.74ecf","name":"start the game API","func":"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2220,"wires":[[]]},{"id":"9ff55daf.509b5","type":"http request","z":"207c204a.74ecf","name":"","method":"POST","ret":"obj","url":"","tls":"","x":940,"y":1280,"wires":[["37a10e90.9cb482"]]},{"id":"d72c18fc.078d08","type":"http request","z":"207c204a.74ecf","name":"","method":"GET","ret":"obj","url":"","tls":"","x":660,"y":1540,"wires":[["6454c05b.f6057","465499a0.abe9d8"]]},{"id":"37a10e90.9cb482","type":"function","z":"207c204a.74ecf","name":"set game","func":"msg.game_id = msg.payload.id\nglobal.set('game_id',msg.game_id)\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1320,"wires":[["995495db.996308","ee21b9e2.ac8188","7cf31f97.ab452"]]},{"id":"7ebbde5.c48e82","type":"comment","z":"207c204a.74ecf","name":"select the teams","info":"","x":460,"y":1640,"wires":[]},{"id":"a3aece17.446f5","type":"function","z":"207c204a.74ecf","name":"create team","func":"let team_names = []\nlet rooms = msg.payload.teams\nmsg.game_id = global.get('game_id')\nmsg.url = \"https://edugame.tekos.co/game/\"+msg.game_id+\"/team\"\nfor (var i = 0; i < rooms.length; i++) {\n    team_names.push({name: rooms[i]})\n}\nmsg.payload = team_names\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1660,"wires":[["14f5daaf.66ff75","27622412.6e7f1c"]]},{"id":"14f5daaf.66ff75","type":"http request","z":"207c204a.74ecf","name":"","method":"POST","ret":"obj","url":"","tls":"","x":960,"y":1660,"wires":[["4afbc68d.9c2b28"]]},{"id":"6454c05b.f6057","type":"function","z":"207c204a.74ecf","name":"form select team","func":"\nlet team_names = []\nlet rooms = msg.payload.chunk\nfor (var i = 0; i < rooms.length; i++) {\n    team_names.push({value: rooms[i].name,label: rooms[i].name})\n}\n\nmsg.payload = {\n    \"type\":\"form\",\n    \"form\":{\n        \"id\":\"form\",\n        \"title\":\"Select teams names\",\n        \"message\":\"Submit\",\n        \"cancel\":\"Cancel\",\n        \"posturl\":\"https://go.test.tekosflow.com/select_team\",\n        \"listen\":\"chat/formId\",\n        \"action\":\"form\",\n        \"subtitle\":\"\",\n        \"inputs\":[\n           \n            {\"type\":\"select\",\n              \"subtype\":\"select\",\n              \"label\":\"Teams\",\n              \"name\":\"teams\",\n              \"multi\": true,\n              \"options\":\n                team_names\n                \n            }\n          ]\n        \n        },\n        \"form_data\":{\n            \n        }\n    \n}\n        \nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1500,"wires":[["d1baf3ff.7481d"]]},{"id":"98527299.bfdf9","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":1760,"wires":[]},{"id":"465499a0.abe9d8","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1580,"wires":[]},{"id":"7cf31f97.ab452","type":"debug","z":"207c204a.74ecf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":1380,"wires":[]}]